<template>
  <v-app id="Home" class="Home landing">
    <v-toolbar
      fixed
      dark
      :flat="transparent"
      :class="transparent ? 'transparent' : 'indigo darken-1'"
    >
      <v-toolbar-title>
        <v-btn
          class="text-xs-center display-1"
          flat
          v-t="'product.title'"
          @click="goTo('#Home')"
        ></v-btn>
      </v-toolbar-title>
      <v-spacer />
      <v-toolbar-items>
        <v-btn
          :to="'/' + $i18n.locale + '/recruiter/interview'"
          class="white--text font-weight-bold"
          flat
          v-t="'goToDemo'"
          v-if="loggedIn"
        ></v-btn>
        <v-btn
          :to="'/' + $i18n.locale + '/auth/sign-in'"
          class="white--text font-weight-bold"
          flat
          v-t="'signIn'"
          v-if="!loggedIn"
        ></v-btn>
        <v-btn
          class="white--text font-weight-bold"
          flat
          v-t="'freeTrial'"
          v-if="!loggedIn"
          @click="goTo('#free-trial-form')"
        ></v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <v-parallax :src="require('@/assets/fixed-imgs/agreement2.jpg')">
        <v-container grid-list-md>
          <v-layout align-center column justify-center class="product-wrapper">
            <h1 class="display-3 pt-3" v-t="'product.title'"></h1>
            <p
              class="product-description text-xs-center"
              v-t="'product.content'"
            ></p>
            <v-btn
              @click="goTo('#free-trial-form')"
              class="white--text accented-text"
              flat
              outline
              v-t="'requestDemo.title'"
            ></v-btn>
          </v-layout>
        </v-container>
      </v-parallax>
      <section class="grey lighten-3">
        <v-container grid-list-md>
          <v-layout row wrap>
            <v-flex xs12>
              <h3 class="hero-text-header" v-t="'steps.title'"></h3>
            </v-flex>
            <v-flex xs12 sm6 md3 class="hero-content">
              <v-card class="hero-card elevation-6">
                <v-img
                  class="elevation-1"
                  aspect-ratio="1.5"
                  :src="require('@/assets/imgs/step-1.jpg')"
                  alt=""
                />
                <v-card-text>
                  <span class="hero-text-sub">
                    <span v-t="'step'"></span> 1.
                  </span>
                  <p class="hero-text-description" v-t="'steps.contents.0'"></p>
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs12 sm6 md3 class="hero-content">
              <v-card class="hero-card elevation-6">
                <v-img
                  class="elevation-1"
                  aspect-ratio="1.5"
                  :src="require('@/assets/imgs/step-2.jpg')"
                  alt=""
                />
                <v-card-text>
                  <span class="hero-text-sub">
                    <span v-t="'step'"></span> 2.
                  </span>
                  <p class="hero-text-description" v-t="'steps.contents.1'"></p>
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs12 sm6 md3 class="hero-content">
              <v-card class="hero-card elevation-6">
                <v-img
                  class="elevation-1"
                  aspect-ratio="1.5"
                  :src="require('@/assets/imgs/step-3.jpg')"
                  alt=""
                />
                <v-card-text>
                  <span class="hero-text-sub">
                    <span v-t="'step'"></span> 3.
                  </span>
                  <p class="hero-text-description" v-t="'steps.contents.2'"></p
                ></v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs12 sm6 md3 class="hero-content">
              <v-card class="hero-card elevation-6">
                <v-img
                  class="elevation-1"
                  aspect-ratio="1.5"
                  :src="require('@/assets/imgs/step-4.jpg')"
                  alt=""
                />
                <v-card-text>
                  <span class="hero-text-sub">
                    <span v-t="'step'"></span> 4.
                  </span>
                  <p class="hero-text-description" v-t="'steps.contents.3'"></p>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </section>
      <section>
        <v-container grid-list-md>
          <v-layout row wrap>
            <v-flex xs12>
              <h3 class="hero-text-header" v-t="'features.title'"></h3>
            </v-flex>
            <v-flex xs12 sm6 md4 class="hero-content have-icon">
              <v-icon class="hero-icon blue--text" large>videocam</v-icon>
              <span class="hero-text-sub" v-t="'features.contents.0.title'">
              </span>
              <p
                class="hero-text-description"
                v-t="'features.contents.0.content'"
              ></p>
            </v-flex>
            <v-flex xs12 sm6 md4 class="hero-content have-icon">
              <v-icon class="hero-icon blue--text" large>show_chart</v-icon>
              <span class="hero-text-sub" v-t="'features.contents.1.title'">
              </span>
              <p
                class="hero-text-description"
                v-t="'features.contents.1.content'"
              ></p>
            </v-flex>
            <v-flex xs12 sm6 md4 class="hero-content have-icon">
              <v-icon class="hero-icon blue--text" large>list</v-icon>
              <span class="hero-text-sub" v-t="'features.contents.2.title'">
              </span>
              <p
                class="hero-text-description"
                v-t="'features.contents.2.content'"
              ></p>
            </v-flex>
            <v-flex xs12 sm6 md4 class="hero-content have-icon">
              <v-icon class="hero-icon blue--text" large>hearing</v-icon>
              <span class="hero-text-sub" v-t="'features.contents.3.title'">
              </span>
              <p
                class="hero-text-description"
                v-t="'features.contents.3.content'"
              ></p>
            </v-flex>
            <v-flex xs12 sm6 md4 class="hero-content have-icon">
              <v-icon class="hero-icon blue--text" large>accessibility</v-icon>
              <span class="hero-text-sub" v-t="'features.contents.4.title'">
              </span>
              <p
                class="hero-text-description"
                v-t="'features.contents.4.content'"
              ></p>
            </v-flex>
            <v-flex xs12 sm6 md4 class="hero-content have-icon">
              <v-icon class="hero-icon blue--text" large>code</v-icon>
              <span class="hero-text-sub" v-t="'features.contents.5.title'">
              </span>
              <p
                class="hero-text-description"
                v-t="'features.contents.5.content'"
              ></p>
            </v-flex>
          </v-layout>
        </v-container>
      </section>
      <section class="grey lighten-3">
        <v-container grid-list-md>
          <v-layout row wrap>
            <v-flex xs12>
              <h3 class="hero-text-header" v-t="'benefits.title'">Benefits</h3>
            </v-flex>
            <v-flex xs12 class="hero-content have-icon">
              <v-icon class="hero-icon blue--text" large>attach_money</v-icon>
              <span class="hero-text-sub" v-t="'benefits.contents.0.title'">
              </span>
              <p
                class="hero-text-description"
                v-t="'benefits.contents.0.content'"
              ></p>
            </v-flex>
            <v-flex xs12 class="hero-content have-icon">
              <v-icon class="hero-icon blue--text" large>thumb_up_alt</v-icon>
              <span class="hero-text-sub" v-t="'benefits.contents.1.title'">
              </span>
              <p
                class="hero-text-description"
                v-t="'benefits.contents.1.content'"
              ></p>
            </v-flex>
            <v-flex xs12 class="hero-content have-icon">
              <v-icon class="hero-icon blue--text" large
                >sentiment_very_satisfied</v-icon
              >
              <span class="hero-text-sub" v-t="'benefits.contents.2.title'">
              </span>
              <p
                class="hero-text-description"
                v-t="'benefits.contents.2.content'"
              ></p>
            </v-flex>
          </v-layout>
        </v-container>
      </section>
      <section id="free-trial-form">
        <v-container grid-list-md>
          <v-layout row wrap>
            <v-flex xs12 class="text-xs-center">
              <h3 class="hero-text-header" v-t="'requestDemo.title'"></h3>
              <p class="hero-text-description" v-t="'requestDemo.content'"></p>

              <v-form
                ref="requestDemo"
                id="request-demo-form"
                @submit.prevent="submitRequestDemo"
              >
                <v-layout row wrap>
                  <v-flex xs6>
                    <v-text-field
                      name="first_name"
                      id="first_name"
                      type="text"
                      v-model="form.value.first_name"
                      :label="$t('firstName')"
                      box
                    >
                    </v-text-field>
                  </v-flex>
                  <v-flex xs6>
                    <v-text-field
                      name="last_name"
                      id="last_name"
                      type="text"
                      v-model="form.value.last_name"
                      :label="$t('lastName')"
                      box
                    >
                    </v-text-field>
                  </v-flex>
                  <v-flex xs4>
                    <v-text-field
                      name="company_name"
                      id="company_name"
                      type="text"
                      v-model="form.value.company_name"
                      :label="$t('companyName')"
                      box
                    >
                    </v-text-field>
                  </v-flex>

                  <v-flex xs8>
                    <v-text-field
                      name="company_website"
                      id="company_website"
                      type="text"
                      v-model="form.value.company_website"
                      :label="$t('companyWebsite')"
                      box
                    >
                    </v-text-field>
                  </v-flex>

                  <v-flex xs12>
                    <v-text-field
                      name="email_address"
                      id="email_address"
                      type="text"
                      v-model="form.value.email_address"
                      :label="$t('email')"
                      box
                    >
                    </v-text-field>
                  </v-flex>

                  <v-flex xs4>
                    <v-autocomplete
                      v-model="form.value.country_code"
                      :items="countryCodes"
                      item-text="name"
                      item-value="dial_code"
                      :label="$t('country')"
                      box
                    ></v-autocomplete>
                  </v-flex>

                  <v-flex xs8>
                    <v-text-field
                      name="phone_number"
                      id="phone_number"
                      type="text"
                      v-model="form.value.phone_number"
                      :label="$t('phoneNumber')"
                      :prefix="form.value.country_code"
                      box
                    >
                    </v-text-field>
                  </v-flex>

                  <v-flex xs12>
                    <v-textarea
                      name="message"
                      id="message"
                      type="textarea"
                      v-model="form.value.message"
                      :label="$t('message')"
                      box
                    >
                    </v-textarea>
                  </v-flex>
                </v-layout>
                <Validator
                  :value="form.value"
                  :rules="form.rules"
                  ref="validator"
                ></Validator>

                <div class="text-xs-right">
                  <v-btn
                    depressed
                    color="primary"
                    class="mr-0"
                    large
                    v-t="'requestDemo.title'"
                    form="request-demo-form"
                    :loading="loading"
                    type="submit"
                  ></v-btn>
                </div>
              </v-form>

              <!--<v-btn-->
              <!--:to="'/' + $i18n.locale + '/recruiter/interview'"-->
              <!--class="accented-text"-->
              <!--flat-->
              <!--outline-->
              <!--v-t="'goToDemo'"-->
              <!--&gt;</v-btn>-->
            </v-flex>
          </v-layout>
        </v-container>
      </section>
    </v-content>
    <Footer app absolute></Footer>
  </v-app>
</template>

<script>
// @ is an alias to /src
import Footer from "@/components/ui/Footer";
import Validator from "@/components/Validator";
import ValidationRule from "@/utils/validation-rule";
import countryCodes from "@/utils/dial-codes";

export default {
  name: "Home",
  components: {
    Footer,
    Validator
  },
  computed: {
    loggedIn() {
      return !!this.$store.state.user;
    },
    countryCodes() {
      return countryCodes;
    }
  },
  data() {
    return {
      loading: false,
      transparent: true,
      form: {
        value: {
          first_name: "",
          last_name: "",
          company_name: "",
          company_website: "",
          email_address: "",
          country_code: "",
          phone_number: "",
          message:
            "I'd like to try this AI Interview for free. Please contact me back."
        },
        rules: {
          first_name: new ValidationRule("firstName").required(),
          last_name: new ValidationRule("lastName").required(),
          company_name: new ValidationRule("companyName").required(),
          company_website: new ValidationRule("companyWebsite").required(),
          email_address: new ValidationRule("email").required().email(),
          country_code: new ValidationRule("country").required(),
          phone_number: new ValidationRule("phoneNumber").required(),
          message: new ValidationRule("message").required()
        }
      }
    };
  },
  methods: {
    onScroll(event) {
      this.transparent = !(
        document.body.scrollTop > 50 || document.documentElement.scrollTop > 50
      );
    },
    goTo(selector) {
      this.$vuetify.goTo(selector, {
        duration: 2000,
        easing: "easeInOutCubic"
      });
    },
    async submitRequestDemo() {
      if (!this.$refs.validator.validate()) return;
      this.loading = true;
      try {
        const {
          first_name,
          last_name,
          company_name,
          company_website,
          email_address,
          country_code,
          phone_number,
          message
        } = this.form.value;

        await this.$rest.requestFreeTrial({
          email: email_address,
          subject: `New request from ${email_address}`,
          message: `First Name: ${first_name}<br/>
Last Name: ${last_name}<br/>
Company Name: ${company_name}<br/>
Company Website: ${company_website}<br/>
Email Address: ${email_address}<br/>
Country Code: ${country_code}<br/>
Phone Number: ${phone_number}<br/>
Message: ${message}`
        });

        this.$toast.success("Success!!");
      } catch (e) {
        console.error(e);
      } finally {
        this.loading = false;
      }
    }
  },

  mounted() {
    window.addEventListener("scroll", this.onScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.onScroll);
  }
};
</script>

<style scoped lang="scss">
section {
  padding: 50px 0;
}
p {
  font-size: 15px;
  color: #444;
}
.product-wrapper {
  padding: 80px 0 40px;
}
.product-title {
  font-weight: bold !important;
  font-size: 56px;
  color: white;
}
.product-description {
  font-size: 18px;
  line-height: 25px;
  color: white;
  margin-top: 8px;
  max-width: 820px;
  white-space: pre-line;
}
.hero-content {
  padding: 24px !important;
}
.hero-icon {
  float: left;
  margin-left: -60px;
}
.hero-card {
  border-radius: 8px;
}
.have-icon {
  padding-left: 80px !important;
}
.hero-text-header {
  text-align: center;
  font-size: 29px;
  color: #263238;
  margin-bottom: 12px;
  font-weight: normal;
}
.hero-text-sub {
  font-size: 21px;
  color: #37474f;
  display: block;
}
.hero-text-description {
  color: #455a64;
  min-height: 65px;
  margin: 0;
  padding: 0;
}
</style>
