<template>
  <div class="chart-wrapper" @resize="resize()">
    <columnChart
      class="chart"
      ref="chart"
      :data="chartData"
      :options="options"
    ></columnChart>
  </div>
</template>
<script>
import { columnChart } from "@toast-ui/vue-chart";

export default {
  name: "RatingDistributionChart",
  components: {
    columnChart
  },
  props: {
    session: {
      type: Object
    }
  },
  computed: {
    chartData() {
      const categories = this.session.answers.map(answer =>
        answer.title.length > 50
          ? answer.title.slice(0, 50) + "..."
          : answer.title
      );
      const series = this.session.evaluations.map(evaluation => {
        const data = this.session.answers.map(answer => {
          const found = evaluation.answers.find(
            eAnswer => eAnswer.id === answer.id
          );
          return found ? found.rating : 0;
        });

        return {
          name: evaluation.username,
          data: data
        };
      });

      return {
        // for 'data' prop of 'bar-chart'
        categories: categories,
        series: series
      };
    },
    chart() {
      return this.$refs.chart;
    }
  },
  data() {
    return {
      options: {
        chart: {
          fontFamily: "'Roboto', 'Noto Sans KR', 'Noto Sans SC', sans-serif"
        },
        yAxis: {
          title: "Rating",
          min: 0.5,
          max: 5,
          step: 0.5
        },
        xAxis: {
          title: "Question Title"
        },
        tooltip: {
          grouped: true
        },
        legend: {}
      }
    };
  },
  methods: {
    resize() {
      this.chart.invoke("resize", { width: this.$el.offsetWidth });
    }
  },
  mounted() {
    this.resize();
  }
};
</script>
<style>
.chart-wrapper {
  padding-bottom: 30px;
  box-sizing: border-box;
}
</style>
