<template>
  <div class="chart-wrapper" @resize="resize()">
    <pieChart
      class="chart"
      ref="chart"
      :data="chartData"
      :options="options"
      :theme="theme"
    ></pieChart>
  </div>
</template>

<script>
import { pieChart } from "@toast-ui/vue-chart";

export default {
  name: "RecommendSummaryChart",
  components: {
    pieChart
  },
  props: {
    session: {
      type: Object
    }
  },
  computed: {
    chartData() {
      return {
        categories: ["Recommendation"],
        series: [
          {
            name: "Recommend",
            data: this.session.evaluations.filter(
              e => e.recommendation === true
            ).length
          },
          {
            name: "Do not recommend",
            data: this.session.evaluations.filter(
              e => e.recommendation === false
            ).length
          }
        ]
      };
    },
    chart() {
      return this.$refs.chart;
    }
  },
  data() {
    return {
      options: {
        chart: {
          fontFamily: "'Roboto', 'Noto Sans KR', 'Noto Sans SC', sans-serif"
        },
        series: {
          showLegend: true,
          showLabel: true,
          labelAlign: "center"
        },
        legend: {
          visible: false
        }
      },
      theme: {
        series: {
          colors: ["#00bd9f", "#ff5a46"],
          label: {
            color: "#fff",
            fontSize: 13,
            fontWeight: "bold"
          }
        }
      }
    };
  },
  methods: {
    resize() {
      this.chart.invoke("resize", {
        width: this.$el.offsetWidth,
        height: "400px"
      });
    }
  },
  mounted() {
    this.resize();
  }
};
</script>

<style scoped>
.chart-wrapper {
  margin-bottom: 30px;
}
</style>
