<template>
  <div id="CandidateSession">
    <v-progress-circular
      v-if="!session"
      :size="70"
      :width="7"
      indeterminate
      color="primary"
    ></v-progress-circular>

    <v-card
      v-else-if="completedSession"
      class="completed-card elevation-4"
      dark
    >
      <v-card-text class="text-xs-center pa-5">
        <p class="display-1">
          Thanks for having an interview with us.<br /><br />
          Your company will get to you shortly.
        </p>
      </v-card-text>
    </v-card>

    <v-card
      v-else-if="!currentAnswerName"
      class="invitation-card elevation-4"
      dark
    >
      <v-card-text class="text-xs-center pa-5">
        <h1 class="font-weight-regular">
          Hi, {{ session.candidate_first_name }}
          {{ session.candidate_last_name }}!
        </h1>
        <div class="mt-4">
          <span class="subheading">
            Position
          </span>
          <h3>
            {{ session.interview_position }}
          </h3>
        </div>
        <div class="mt-4">
          <span class="subheading">
            Duration
          </span>
          <h3>
            {{ totalDuration | secondsToFriendlyTime }}
          </h3>
        </div>
        <div class="mt-4">
          <span class="subheading">
            Number Of Questions
          </span>
          <h3>
            {{ answers.length }}
          </h3>
        </div>
        <div class="mt-4">
          <v-btn color="primary" @click="routeAnswer(answers[0].name)"
            >Start Interview!</v-btn
          >
        </div>
      </v-card-text>
    </v-card>

    <v-card v-else-if="currentAnswerName" class="survey-card elevation-4" dark>
      <v-toolbar>
        <v-toolbar-title>
          {{ session.interview_position }}
        </v-toolbar-title>
        <v-divider class="mx-3" inset vertical></v-divider>
        <span class="subheading">
          {{ totalDuration | secondsToFriendlyTime }}
        </span>
        <v-divider class="mx-3" inset vertical></v-divider>
        <span class="subheading">
          {{ session.candidate_last_name }} {{ session.candidate_first_name }}
        </span>
        <v-divider class="mx-3" inset vertical></v-divider>
        <v-spacer></v-spacer>

        <div v-if="currentAnswer.type === 'video'">
          <div class="video-warning" v-if="this.recording_now === false">
            You should start recording within
            {{ videoWarningSeconds | secondsToDigitalTime }}
          </div>
          <div class="subheading mr-3" v-else>
            {{ timeOverSeconds | secondsToDigitalTime }} /
            {{ currentAnswer.time_limit | secondsToDigitalTime }}
          </div>
        </div>

        <div v-else>
          <span class="subheading mr-3" v-if="timeOverSeconds">
            {{ timeOverSeconds | secondsToDigitalTime }} /
            {{ currentAnswer.time_limit | secondsToDigitalTime }}
          </span>
        </div>

        <v-toolbar-items>
          <v-btn
            color="primary"
            depressed
            @click="nextAnswer()"
            :loading="loading"
            :disabled="!currentAnswer.started_at"
            >Next</v-btn
          >
        </v-toolbar-items>
      </v-toolbar>
      <v-card-text class="text-xs-center" v-if="currentAnswer.completed_at">
        You already submitted this question. Please move to the next question.
      </v-card-text>

      <v-layout
        row
        wrap
        v-else-if="currentAnswer.started_at"
        style="flex: 1 1 auto;"
      >
        <v-flex xs12 sm12 md6>
          <div class="ma-4" style="overflow: auto">
            <div v-if="currentAnswer.type === 'coding'">
              <p class="display-1">
                You can write code in "{{ currentAnswer.language }}"
              </p>
            </div>
            <Markdown :value="currentAnswer.question"></Markdown>
          </div>
        </v-flex>
        <v-flex xs12 sm12 md6>
          <v-textarea
            style="flex: 1 1 auto;"
            label="Your Solution"
            outline
            rows="40"
            v-if="currentAnswer.type === 'short_essay'"
            v-model="answer"
          ></v-textarea>
          <Recorder
            ref="Recorder"
            v-if="currentAnswer.type === 'video'"
            :file-name="currentAnswer.name"
            @started="answer = `${currentAnswer.name}.webm`"
          ></Recorder>
          <div v-if="currentAnswer.type === 'coding'">
            <CodeIDE :currentAnswer="currentAnswer" v-model="answer"></CodeIDE>
          </div>
        </v-flex>
      </v-layout>
      <v-card-text class="text-xs-center" v-else>
        <p class="headline">
          The
          <span class="light-blue--text">{{ currentAnswerIndex + 1 }}</span> of
          {{ session.answers.length }} questions
        </p>
        <div v-if="currentAnswer.type === 'video'">
          <h3>
            <span class="video-message" v-t="'videoQuestionMessage'"></span>
          </h3>
          <v-btn
            class="button"
            large
            round
            color="primary lighten--3"
            @click="startAnswer()"
            :loading="loading"
          >
            Start solving the video question.
          </v-btn>
        </div>
        <div v-else>
          <v-btn
            large
            round
            color="primary lighten--3"
            @click="startAnswer()"
            :loading="loading"
          >
            Start solving the {{ currentAnswer.type }} question.
          </v-btn>
        </div>
      </v-card-text>
      <v-dialog v-model="solutionTemplateModal" width="600" lazy>
        <v-card>
          <v-btn icon @click="solutionTemplateModal = false"
            ><v-icon>close</v-icon></v-btn
          >
          <v-card-text>{{ currentAnswer.solution_template }}</v-card-text>
        </v-card>
      </v-dialog>
    </v-card>
  </div>
</template>

<script>
import Markdown from "@/components/Markdown";
import Recorder from "@/components/Recorder";
import CodeIDE from "@/components/CodeIDE";

export default {
  name: "CandidateSession",
  components: { CodeIDE, Recorder, Markdown },
  computed: {
    session() {
      return this.$store.state.session;
    },
    answers() {
      return this.session ? this.session.answers : null;
    },
    totalDuration() {
      return this.answers.reduce(
        (previous, next) => previous + next.time_limit,
        0
      );
    },
    currentAnswerName() {
      return this.$route.query.currentAnswerName;
    },
    currentAnswer() {
      return this.currentAnswerName && this.answers
        ? this.answers.find(answer => answer.name === this.currentAnswerName)
        : null;
    },
    currentAnswerIndex() {
      return this.currentAnswerName && this.answers
        ? this.answers.findIndex(
            answer => answer.name === this.currentAnswerName
          )
        : null;
    },
    completedSession() {
      return this.answers.every(answer => answer.completed_at);
    }
  },
  watch: {
    currentAnswer(val) {
      if (val && val.started_at && !val.completed_at && !this.timer) {
        this.clearTimer();
        this.setTimer();
      }
    }
  },
  async created() {
    this.loading = true;
    await this.$store.dispatch("getOpenedSession", this.$route.params.name);
    this.loading = false;
    if (
      this.currentAnswer &&
      this.currentAnswer.started_at &&
      !this.currentAnswer.completed_at
    ) {
      this.clearTimer();
      this.setTimer();
    }
  },
  methods: {
    routeAnswer(answerName) {
      this.$router.push({
        path: this.$route.path,
        query: {
          currentAnswerName: answerName
        }
      });
    },

    setTimer() {
      const { started_at } = this.currentAnswer;

      if (this.currentAnswer.type === "video") {
        this.videoWarningSeconds = 30;
        this.recording_now = false;
        if (started_at) {
          this.timeOverSeconds =
            this.currentAnswer.time_limit -
            Math.floor((Date.now() - new Date(started_at).getTime()) / 1000);
        } else {
          this.timeOverSeconds = this.currentAnswer.time_limit;
        }

        this.timer = window.setInterval(() => {
          if (this.$refs.Recorder.is_record === true) {
            this.recording_now = true;
          }

          if (this.recording_now === true) {
            this.timeOverSeconds--;
          }
          this.videoWarningSeconds--;
          ``;
          if (this.recording_now === false && this.videoWarningSeconds <= 0) {
            this.videoWarningSeconds = 30;
            this.recording_now = true;
            this.clearTimer();
            this.nextAnswer(true);
            window.clearInterval(this.timer);
          } else if (this.timeOverSeconds <= 0) {
            this.clearTimer();
            this.nextAnswer(true);
          }
        }, 1000);
      } else {
        if (started_at) {
          this.timeOverSeconds =
            this.currentAnswer.time_limit -
            Math.floor((Date.now() - new Date(started_at).getTime()) / 1000);
        } else {
          this.timeOverSeconds = this.currentAnswer.time_limit;
        }

        this.timer = window.setInterval(() => {
          this.timeOverSeconds--;
          if (this.timeOverSeconds <= 0) {
            this.clearTimer();
            this.nextAnswer(true);
          }
        }, 1000);
      }
    },

    clearTimer() {
      if (this.timer) window.clearInterval(this.timer);
      this.timer = null;
      this.timeOverSeconds = 0;
      this.videoWarningSeconds = 30;
    },
    async startAnswer() {
      try {
        this.loading = true;

        await this.$store.dispatch("submitAnswer", {
          name: this.currentAnswer.name,
          started_at: Date.now(),
          recording_now: true
        });
        if (!this.timer) this.setTimer();
      } catch (e) {
        console.error(e);
      } finally {
        this.loading = false;
      }
    },
    async nextAnswer(isTimeOver = false) {
      try {
        if (!this.currentAnswer.completed_at) {
          const confirmText = isTimeOver
            ? this.$t("timeOverAnswer")
            : this.$t("confirmSubmitAnswer");

          const confirmOption = {
            title: this.$t("submitAnswer")
          };
          if (isTimeOver) confirmOption.buttonFalseText = null;
          const confirm = await this.$confirm(confirmText, confirmOption);
          if (!isTimeOver && !confirm) return;
          if (!isTimeOver && confirm) this.clearTimer();
        }

        this.loading = true;

        if (!this.currentAnswer.completed_at) {
          await this.$store.dispatch("submitAnswer", {
            name: this.currentAnswer.name,
            type: this.currentAnswer.type,
            answer: this.answer,
            completed_at: Date.now()
          });
        }

        const nextAnswer = this.answers[this.currentAnswerIndex + 1];
        if (nextAnswer) this.routeAnswer(nextAnswer.name);
        this.answer = "";
      } catch (e) {
        console.error(e);
      } finally {
        this.loading = false;
      }
    }
  },
  data() {
    return {
      solutionTemplateModal: false,
      timer: null,
      timeOverSeconds: 0,
      videoWarningSeconds: 30,
      recording_now: false,
      loading: false,
      answer: "",
      console: "Hello This is Console",
      availableCodeLanguages: ["python", "c++", "java", "nodejs"]
    };
  }
};
</script>

<style scoped lang="scss">
#CandidateSession {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .survey-card {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-self: stretch;
  }
  .ide {
    display: flex;
    align-self: stretch;
    justify-self: stretch;
    flex-direction: column;
    .editor {
      height: 100%;
      overflow: auto;
    }
  }
  .button {
    margin-top: 20px;
  }
  .video-message {
    max-width: 820px;
    white-space: pre-line;
  }
  .video-warning {
    text-align: center;
    white-space: pre-line;
    color: red;
    margin: 0px 20px 10px 10px;
  }
}
.solution-bnt {
  color: red;
  margin: 10px 10px 30px 0px;
}
</style>
