<template>
  <v-card-text>
    <span class="subheading blue--text text--darken-2">
      Recommendation.
    </span>
    <p class="mt-2 body-2">
      {{ session.recommendation ? "Recommend" : "Not Recommend" }}
    </p>

    <template v-if="session.evaluations.length > 0">
      <span class="subheading blue--text text--darken-2">
        Evaluations.
      </span>
      <EvaluationTable
        :session="session"
        class="border-thin my-2"
      ></EvaluationTable>
    </template>

    <span class="subheading blue--text text--darken-2">
      Questions and Answers.
    </span>
    <v-expansion-panel
      v-model="index"
      class="border-thin elevation-0 mt-2 mb-4"
    >
      <v-expansion-panel-content
        v-for="(answer, i) in session.answers"
        :key="i"
      >
        <template slot="header">
          <div>
            <b class="mr-3"> {{ i + 1 }}. {{ answer.title }} </b>
            <v-chip label color="green" outline>
              <v-avatar>
                <v-icon color="green">
                  {{ answer.type | questionTypeToIcon }}
                </v-icon>
              </v-avatar>
              <strong>
                {{ answer.type | questionTypeToText }}
              </strong>
            </v-chip>
            <v-chip label color="orange" outline>
              <v-avatar>
                <v-icon color="orange">timer</v-icon>
              </v-avatar>
              <strong>
                {{ answer.time_limit | secondsToFriendlyTime }}
              </strong>
            </v-chip>
          </div>
        </template>
        <v-divider></v-divider>
        <v-card color="grey lighten-4">
          <v-card-text>
            <span class="subheading blue--text text--darken-2">
              Duration.
            </span>
            <p class="body-2">
              {{ answer | answerDuration | secondsToFriendlyTime }}
            </p>

            <span class="subheading blue--text text--darken-2">
              Question.
            </span>

            <Markdown :value="answer.question" class="mb-2"></Markdown>
            <span class="subheading blue--text text--darken-2">
              Answer.
            </span>
            <div v-if="answer.answer">
              <Prism
                :value="answer.answer"
                v-if="answer.type === 'coding'"
                language="python"
              ></Prism>
              <Player
                v-else-if="answer.type === 'video'"
                :src="answer.answer | s3Prefix"
              ></Player>
              <p v-else>{{ answer.answer }}</p>
            </div>
            <v-alert value="true" type="error" v-else>
              The candidate didn't type this answer
            </v-alert>
            <v-divider class="my-4"></v-divider>
            <v-card>
              <v-card-text>
                <v-form @submit.prevent="rateAnswer">
                  <span class="v-label grey--text text--darken-1">{{
                    $t("rating")
                  }}</span>
                  <v-rating
                    v-model="form.value.rating"
                    hover
                    half-increments
                  ></v-rating>
                  <v-textarea
                    :label="$t('notes')"
                    v-model="form.value.notes"
                    placeholder="What's your opinion?"
                    auto-grow
                  ></v-textarea>
                  <div class="text-xs-right">
                    <v-btn
                      type="submit"
                      large
                      round
                      color="primary"
                      :disabled="
                        !form.value.rating || session.decision !== null
                      "
                      :loading="loading"
                      >Submit</v-btn
                    >
                  </div>
                </v-form>
              </v-card-text>
            </v-card>
          </v-card-text>
        </v-card>
      </v-expansion-panel-content>
    </v-expansion-panel>

    <div class="text-xs-center py-4" v-if="completedRating">
      <div v-if="this.session.recommendation === true">
        <p class="headline blue--text text--darken-2">
          You've already recommended this candidate. Would you like to cancel
          your recommendation?
        </p>
        <v-btn
          large
          color="primary"
          depressed
          :loading="loading"
          :disabled="session.decision !== null"
          @click="recommendSession(false)"
        >
          Cancel Recommend
        </v-btn>
      </div>
      <div v-else>
        <p class="headline blue--text text--darken-2">
          You've finished rating this candidate. Would you recommend this
          candidate?
        </p>
        <v-btn
          large
          color="primary"
          depressed
          :loading="loading"
          :disabled="session.decision !== null"
          @click="recommendSession(true)"
        >
          Recommend
        </v-btn>
        or
        <v-btn
          large
          color="primary"
          outline
          :loading="loading"
          :disabled="session.decision !== null"
          @click="recommendSession(false)"
        >
          Do Not Recommend
        </v-btn>
      </div>
    </div>
  </v-card-text>
</template>

<script>
import Markdown from "@/components/Markdown";
import Player from "@/components/Player";
import Prism from "@/components/Prism";
import EvaluationTable from "@/components/table/EvaluationTable";

export default {
  name: "SessionDetail",
  components: { EvaluationTable, Prism, Player, Markdown },
  props: {
    session: {
      type: Object
    }
  },
  filters: {
    answerDuration({ started_at, completed_at }) {
      return started_at && completed_at
        ? Math.floor(
            (new Date(completed_at).getTime() -
              new Date(started_at).getTime()) /
              1000
          )
        : null;
    }
  },
  watch: {
    index() {
      this.form.value.notes = this.currentAnswer
        ? this.currentAnswer.notes
        : null;
      this.form.value.rating = this.currentAnswer
        ? parseFloat(this.currentAnswer.rating)
        : null;
    }
  },
  computed: {
    currentAnswer() {
      return this.session.answers[this.index];
    },
    completedRating() {
      return this.session.answers.every(a => a.rating);
    }
  },
  methods: {
    async rateAnswer() {
      this.loading = true;
      try {
        await this.$store.dispatch("rateAnswer", {
          name: this.currentAnswer.name,
          id: this.currentAnswer.id,
          ...this.form.value
        });
        if (this.index < this.session.answers.length) {
          this.index++;
        } else {
          this.index = null;
        }
      } catch (e) {
        console.error(e);
      } finally {
        this.loading = false;
      }
    },
    async recommendSession(recommendation) {
      this.loading = true;
      try {
        await this.$store.dispatch("recommendSession", {
          name: this.session.name,
          recommendation: recommendation
        });

        this.$toast.success(
          recommendation
            ? "Successfully Recommendation!"
            : "Successfully Opposed!"
        );
      } catch (e) {
        console.error(e);
      } finally {
        this.loading = false;
      }
    }
  },
  data() {
    return {
      index: null,
      loading: false,
      recommended: null,
      form: {
        value: {
          rating: 0,
          notes: null
        }
      }
    };
  }
};
</script>

<style scoped></style>
