<template>
  <v-app id="Auth">
    <v-content>
      <v-container fill-height>
        <v-layout column wrap justify-center align-center>
          <router-view></router-view>
          <LanguageSwitcher class="mt-3"></LanguageSwitcher>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import LanguageSwitcher from "@/components/LanguageSwitcher";
export default {
  name: "AuthLayout",
  components: { LanguageSwitcher }
};
</script>

<style scoped lang="scss"></style>
