<template>
  <v-app>
    <v-navigation-drawer
      class="navigation-drawer px-2"
      :width="250"
      :style="{
        'background-image': 'url(' + require('@/assets/imgs/sidebar.jpg') + ')'
      }"
      v-model="drawer"
      fixed
      app
      dark
    >
      <v-toolbar
        card
        color="transparent"
        v-ripple
        @click="$router.push('/' + $i18n.locale)"
      >
        <v-avatar color="white" size="35" class="elevation-4">
          <img src="@/assets/imgs/avatar.png" alt="" />
        </v-avatar>
        <v-toolbar-title class="headline">
          AI Interview
        </v-toolbar-title>
      </v-toolbar>
      <v-divider></v-divider>
      <v-list style="background: none;">
        <v-list-tile
          v-for="item in items"
          :key="item.text"
          :to="'/' + $i18n.locale + '/' + item.link"
          class="my-2"
          active-class="navigation-drawer__active-link"
        >
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ $t(item.text) }}
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="transparent" card fixed app>
      <v-btn icon @click.stop="drawer = !drawer">
        <v-icon>
          {{ drawer ? "keyboard_arrow_left" : "keyboard_arrow_right" }}
        </v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <span class="font-weight-regular mr-3">{{ email }}</span>
      <v-menu bottom left>
        <v-btn slot="activator" icon>
          <v-icon>menu</v-icon>
        </v-btn>
        <v-list>
          <v-list-tile @click="accountModal = true">
            <v-list-tile-action>
              <v-icon>home</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                {{ $t("myAccount") }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile @click="organizationModal = true">
            <v-list-tile-action>
              <v-icon>people</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                {{ $t("organization") }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile @click="inviteUserModal = true">
            <v-list-tile-action>
              <v-icon>person_add</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                {{ $t("inviteUser") }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile @click="signOut()">
            <v-list-tile-action>
              <v-icon>lock_open</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                {{ $t("signOut") }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>
    <v-content class="blue-grey lighten-5">
      <router-view />
      <AccountModal v-model="accountModal" ref="accountModal"></AccountModal>
      <OrganizationModal
        v-model="organizationModal"
        ref="organizationModal"
      ></OrganizationModal>
      <InviteUserModal
        v-model="inviteUserModal"
        ref="inviteUserModal"
      ></InviteUserModal>
    </v-content>

    <Footer inset app absolute class-name="blue-grey lighten-2"></Footer>
  </v-app>
</template>

<script>
import Footer from "../ui/Footer";
import InviteUserModal from "@/components/modal/InviteUserModal";
import AccountModal from "@/components/modal/AccountModal";
import OrganizationModal from "@/components/modal/OrganizationModal";

export default {
  name: "RecruiterLayout",
  components: {
    Footer,
    InviteUserModal,
    AccountModal,
    OrganizationModal
  },
  data: () => ({
    drawer: null,
    items: [
      { icon: "description", text: "question", link: "recruiter/question" },
      { icon: "event", text: "interview", link: "recruiter/interview" },
      { icon: "people", text: "candidate", link: "recruiter/candidate" },
      { icon: "assignment_ind", text: "session", link: "recruiter/session" }
    ],
    inviteUserModal: false,
    accountModal: false,
    organizationModal: false
  }),
  methods: {
    async signOut() {
      await this.$store.dispatch("signOut");
      this.$router.push(`/${this.$i18n.locale}`);
    }
  },
  computed: {
    email() {
      return this.$store.state.user
        ? this.$store.state.user.attributes.email
        : null;
    }
  },
  created() {
    if (this.$store.getters.isDev) {
      this.items.push({
        icon: "build",
        text: "test",
        link: "recruiter/test"
      });
    }
  },
  mounted() {}
};
</script>

<style scoped lang="scss">
.navigation-drawer {
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42),
    0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: 50%;
}
.navigation-drawer:after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 27, 27, 0.85);
  background-size: cover;
  background-position: 50%;
  top: 0;
  left: 0;

  z-index: -1000;
}
</style>
