<template>
  <v-dialog v-model="value" persistent lazy @keydown.esc="close()" width="800">
    <v-card class="grey lighten-4">
      <v-toolbar card class="transparent">
        <v-toolbar-title>
          {{ $t("myAccount") }}
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon @click="close()">
          <v-icon>close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <div class="subheading d-block mb-2">
          {{ $t("firstName") }} |&ensp; {{ firstname }}
        </div>

        <div class="subheading d-block mb-2">
          {{ $t("lastName") }} |&ensp; {{ lastname }}
        </div>
        <div class="subheading d-block mb-2 ">
          {{ $t("organization") }} |&ensp; {{ organization }}
        </div>
        <div class="subheading d-block mb-2">
          {{ $t("country") }} |&ensp; {{ countryname }}
        </div>
        <div class="subheading d-block mb-2">
          {{ $t("phoneNumber") }} |&ensp; {{ phonenumber }}
        </div>
        <div class="subheading d-block mb-2">
          {{ $t("email") }} |&ensp; {{ email }}
        </div>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { FormModalMixin } from "@/utils/mixins";
import countryCodes from "@/utils/dial-codes";

export default {
  name: "AccountModal",
  mixins: [FormModalMixin],
  computed: {
    firstname() {
      return this.$store.state.user
        ? this.$store.state.user.attributes.given_name
        : null;
    },
    lastname() {
      return this.$store.state.user
        ? this.$store.state.user.attributes.family_name
        : null;
    },
    email() {
      return this.$store.state.user
        ? this.$store.state.user.attributes.email
        : null;
    },
    countryCodes() {
      return countryCodes;
    },
    phonenumber() {
      return this.$store.state.user
        ? this.$store.state.user.attributes.phone_number
        : null;
    },
    countryname() {
      return this.$store.state.user
        ? this.countryCodes.find(cc =>
            this.$store.state.user.attributes.phone_number.startsWith(
              cc.dial_code
            )
          ).name
        : null;
    },
    organization() {
      return this.$store.state.user
        ? this.$store.state.user.attributes.name
        : null;
    }
  },
  methods: {
    initData() {
      return {
        loading: false,
        name: null
      };
    },

    data() {
      return this.initData();
    }
  }
};
</script>

<style scoped lang="scss"></style>
