<template>
  <v-dialog
    @input="change"
    value="true"
    :max-width="width"
    @keydown.esc="choose(false)"
  >
    <v-card tile>
      <v-toolbar v-if="Boolean(title)" card class="transparent">
        <v-toolbar-title v-text="title">
          {{ title }}
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon @click="choose(false)">
          <v-icon>close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <p class="body-2 grey--text text--darken-3 px-2">
          {{ message }}
        </p>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn
          v-if="Boolean(buttonFalseText)"
          :color="buttonFalseColor"
          flat
          @click="choose(false)"
          >{{ buttonFalseText }}</v-btn
        >
        <v-btn
          v-if="Boolean(buttonTrueText)"
          :color="buttonTrueColor"
          flat
          @click="choose(true)"
          >{{ buttonTrueText }}</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "Confirm",
  props: {
    buttonTrueText: {
      type: String,
      default: "Yes"
    },
    buttonFalseText: {
      type: String,
      default: "No"
    },
    buttonTrueColor: {
      type: String,
      default: "primary"
    },
    buttonFalseColor: {
      type: String,
      default: ""
    },
    color: {
      type: String,
      default: "warning"
    },
    icon: {
      type: String,
      default: "warning"
    },
    message: {
      type: String,
      reqiured: true
    },
    title: {
      type: String
    },
    width: {
      type: Number,
      default: 350
    }
  },
  data() {
    return {
      value: false
    };
  },
  methods: {
    choose(value) {
      this.$emit("result", value);
      this.value = value;
      this.$destroy();
    },
    change(res) {
      this.$destroy();
    }
  }
};
</script>
