<template>
  <v-dialog width="460" v-model="value" persistent lazy @keydown.esc="close()">
    <v-card>
      <v-toolbar card class="transparent">
        <v-toolbar-title>
          {{ $t(action) }}
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon @click="close()"><v-icon>close</v-icon></v-btn>
      </v-toolbar>
      <v-card-text>
        <p class="body-2">
          {{ $t("confirmDelete") }}
        </p>
        <v-alert v-if="error" value="true" type="error">
          {{ $t("statusText." + error.message) }}
        </v-alert>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn flat @click="close()"> {{ $t("no") }} </v-btn>
        <v-btn flat color="primary" :loading="loading" @click="onDelete()">
          {{ $t("yes") }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "DeleteModal",
  props: {
    value: {
      type: Boolean,
      default: false
    },
    action: {
      type: String,
      default: "deleteQuestion"
    }
  },
  methods: {
    async onDelete() {
      this.loading = true;

      try {
        await this.$store.dispatch(this.action, {
          name: this.name,
          checkDeleteableSafely: this.error ? false : true
        });
        this.loading = false;
        this.close();
      } catch (e) {
        this.error = e;
        this.loading = false;
        console.error(e);
        if (this.action === "deleteQuestion") this.close();
      }
    },
    close() {
      this.$emit("input", false);
      this.$emit("update");
      this.error = null;
    },
    setName(name) {
      this.name = name;
    }
  },
  data() {
    return {
      loading: false,
      payload: null,
      name: null,
      error: null
    };
  }
};
</script>

<style scoped lang="scss"></style>
