<template>
  <v-dialog v-model="value" persistent lazy @keydown.esc="close()" width="800">
    <v-card class="grey lighten-4">
      <v-toolbar card class="transparent">
        <v-toolbar-title>
          {{ $t("inviteUser") }}
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon @click="close()">
          <v-icon>close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <v-form id="form" ref="form" @submit.prevent="submit()">
          <v-layout row wrap style="margin: -8px;">
            <v-flex xs6>
              <div class="form-block">
                <label for="first_name" class="subheading d-block mb-2">
                  {{ $t("firstName") }}
                </label>
                <v-text-field
                  name="first_name"
                  id="first_name"
                  type="text"
                  v-model="form.value.first_name"
                  placeholder="David"
                  solo
                >
                </v-text-field>
              </div>
            </v-flex>

            <v-flex xs6>
              <div class="form-block">
                <label for="last_name" class="subheading d-block mb-2">
                  {{ $t("lastName") }}
                </label>
                <v-text-field
                  name="last_name"
                  id="last_name"
                  type="text"
                  v-model="form.value.last_name"
                  placeholder="Chu"
                  solo
                >
                </v-text-field>
              </div>
            </v-flex>

            <v-flex xs4>
              <div class="form-block">
                <label for="organization" class="subheading d-block mb-2">
                  {{ $t("organization") }}
                </label>
                <v-text-field
                  name="organization"
                  id="organization"
                  type="text"
                  v-model="form.value.organization"
                  :label="$t('organization')"
                  solo
                  readonly
                >
                </v-text-field>
              </div>
            </v-flex>

            <v-flex xs4>
              <div class="form-block">
                <label for="country-code" class="subheading d-block mb-2">
                  {{ $t("country") }}
                </label>
                <v-autocomplete
                  v-model="form.value.country_code"
                  id="country-code"
                  :items="countryCodes"
                  item-text="name"
                  item-value="dial_code"
                  placeholder="China"
                  solo
                ></v-autocomplete>
              </div>
            </v-flex>

            <v-flex xs4>
              <div class="form-block">
                <label for="phone_number" class="subheading d-block mb-2">
                  {{ $t("phoneNumber") }}
                </label>
                <v-text-field
                  name="phone_number"
                  id="phone_number"
                  type="text"
                  v-model="form.value.phone_number"
                  :prefix="form.value.country_code"
                  placeholder="1112223333"
                  solo
                >
                </v-text-field>
              </div>
            </v-flex>

            <v-flex xs12>
              <div class="form-block">
                <label for="email" class="subheading d-block mb-2">
                  {{ $t("email") }}
                </label>
                <v-text-field
                  name="email"
                  id="email"
                  type="text"
                  v-model="form.value.email"
                  placeholder="david@ai-interview.com"
                  solo
                >
                </v-text-field>
              </div>
            </v-flex>
          </v-layout>
        </v-form>
        <Validator
          :value="form.value"
          :rules="form.rules"
          ref="validator"
        ></Validator>
      </v-card-text>
      <v-card-actions>
        <v-btn flat @click="clear()"> {{ $t("clear") }}</v-btn>
        <v-spacer></v-spacer>
        <v-btn flat @click="close()"> {{ $t("close") }}</v-btn>
        <v-btn flat color="primary" @click="submit()" :loading="loading">
          {{ $t("submit") }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Validator from "@/components/Validator";
import ValidationRule from "@/utils/validation-rule";
import { FormModalMixin } from "@/utils/mixins";
import countryCodes from "@/utils/dial-codes";

export default {
  name: "InviteUserModal",
  mixins: [FormModalMixin],
  components: {
    Validator
  },
  props: {
    value: {
      type: Boolean,
      value: true
    }
  },
  computed: {
    countryCodes() {
      return countryCodes;
    }
  },
  methods: {
    initData() {
      return {
        loading: false,
        form: {
          value: {
            email: "",
            first_name: "",
            last_name: "",
            organization: this.$store.state.user.attributes.name,
            country_code: "",
            phone_number: ""
          },
          rules: {
            first_name: new ValidationRule("firstName").required(),
            last_name: new ValidationRule("lastName").required(),
            organization: new ValidationRule("organization").required(),
            country_code: new ValidationRule("country").required(),
            phone_number: new ValidationRule("phoneNumber").required(),
            email: new ValidationRule("email").required().email()
          }
        }
      };
    },
    async submit() {
      if (!this.$refs.validator.validate()) return;

      this.loading = true;

      try {
        const { email, country_code, phone_number, ...etc } = this.form.value;
        await this.$rest.inviteUser({
          email: email,
          phone_number: country_code + phone_number,
          country_code: country_code,
          url:
            window.location.origin +
            `/${this.$i18n.locale}/auth/sign-in?email=${email}`,
          ...etc
        });
        this.loading = false;
        this.close();
      } catch (e) {
        this.loading = false;
      }
    }
  },
  data() {
    return this.initData();
  }
};
</script>

<style scoped lang="scss">
.form-block {
  margin: 8px;
}
</style>
