<template>
  <v-dialog v-model="value" persistent lazy @keydown.esc="close()" width="1200">
    <v-card class="grey lighten-4 ">
      <v-toolbar card class="transparent">
        <v-toolbar-title class="font-weight-regular">
          {{ $t("organization") }} | &emsp;{{ organization }}
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon @click="close()">
          <v-icon>close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <div class="subheading d-block mb-2">
          <v-card class="elevation-8">
            <v-toolbar card>
              <v-toolbar-title class="font-weight-regular">
                Members
              </v-toolbar-title>
              <v-spacer></v-spacer>
              <v-toolbar-items>
                <v-btn icon @click="inviteUserModal = true" :disabled="loading">
                  <v-tooltip top>
                    <v-icon class="grey--text" slot="activator">add</v-icon>
                    <span> {{ $t("addInterview") }}</span>
                  </v-tooltip>
                </v-btn>
              </v-toolbar-items>
            </v-toolbar>
            <v-divider></v-divider>
            <v-card-text class="pa-0">
              <OrganizationTable
                :members="members"
                :loading="loading"
              ></OrganizationTable>
            </v-card-text>
            <InviteUserModal
              v-model="inviteUserModal"
              ref="inviteUserModal"
            ></InviteUserModal>
          </v-card>
        </div>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { FormModalMixin } from "@/utils/mixins";
import InviteUserModal from "@/components/modal/InviteUserModal";
import OrganizationTable from "@/components/table/OrganizationTable";
import countryCodes from "@/utils/dial-codes";

export default {
  name: "OrganizationModal",
  mixins: [FormModalMixin],
  components: { InviteUserModal, OrganizationTable },

  methods: {
    initialize() {
      this.$store.dispatch("getRecruiters").then(() => {
        this.loading = false;
      });
    },
    initData() {
      return { loading: false, inviteUserModal: false };
    }
  },
  computed: {
    organization() {
      return this.$store.state.user
        ? this.$store.state.user.attributes.name
        : null;
    },
    phone_number() {
      return this.$store.state.user
        ? this.$store.state.user.attributes.phone_number
        : null;
    },
    countryCodes() {
      return countryCodes;
    },
    members() {
      var member = new Array();

      for (var i = 0; i < this.$store.state.recruiters.length; i++) {
        member[i] = this.$store.state.recruiters[i];
        member[i].country_name = this.countryCodes.find(cc =>
          this.$store.state.recruiters[i].phone_number.startsWith(cc.dial_code)
        ).name;
      }

      return member;
    }
  },
  data() {
    return this.initData();
  },
  mounted() {
    this.initialize();
  }
};
</script>

<style scoped lang="scss">
.navigation-drawer {
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42),
    0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: 50%;
}
.navigation-drawer:after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 27, 27, 0.85);
  background-size: cover;
  background-position: 50%;
  top: 0;
  left: 0;

  z-index: -1000;
}
</style>
