<template>
  <v-dialog width="1280" v-model="value" persistent lazy @keydown.esc="close()">
    <v-card dark>
      <v-toolbar card>
        <v-toolbar-title>
          {{ question.title }}
        </v-toolbar-title>
        <div class="chips ml-4">
          <v-chip label color="green" outline>
            <v-avatar>
              <v-icon color="green">
                {{ question.type | questionTypeToIcon }}
              </v-icon>
            </v-avatar>
            <strong>
              {{ question.type | questionTypeToText }}
            </strong>
          </v-chip>
          <v-chip label color="orange" outline>
            <v-avatar>
              <v-icon color="orange">timer</v-icon>
            </v-avatar>
            <strong>
              {{ question.time_limit | secondsToFriendlyTime }}
            </strong>
          </v-chip>
        </div>
        <v-spacer></v-spacer>
        <v-btn icon @click="close()"><v-icon>close</v-icon></v-btn>
      </v-toolbar>
      <v-card-text>
        <Markdown :value="question.question"></Markdown>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn flat @click="close()"> {{ $t("close") }} </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Markdown from "@/components/Markdown";

export default {
  name: "PreviewQuestionModal",
  components: { Markdown },
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    close() {
      this.$emit("input", false);
    }
  },
  computed: {},
  filters: {},
  data() {
    return {
      loading: false,
      question: {}
    };
  }
};
</script>

<style scoped lang="scss"></style>
