<template>
  <v-dialog v-model="value" persistent lazy width="600" @keydown.esc="close()">
    <v-card class="grey lighten-4">
      <v-toolbar card class="transparent">
        <v-toolbar-title>
          {{ $t("sendInvitations") }}
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon @click="close()"><v-icon>close</v-icon></v-btn>
      </v-toolbar>
      <v-card-text>
        <v-form id="form" ref="form" @submit.prevent="submit()">
          <div class="form-block">
            <label for="interview-input" class="subheading d-block mb-2">
              {{ $t("interview") }}
            </label>
            <v-autocomplete
              id="interview-input"
              :items="interviews"
              v-model="form.value.interview"
              item-text="position"
              return-object
              solo
              placeholder="Select a position"
            >
            </v-autocomplete>
          </div>
          <div class="form-block">
            <label for="candidate-input" class="subheading d-block mb-2">
              {{ $t("candidates") }}
            </label>
            <v-autocomplete
              id="candidate-input"
              :items="candidates"
              v-model="form.value.candidates"
              item-text="full_name"
              return-object
              solo
              multiple
              placehoder="Select a candidates"
            >
              <template slot="selection" slot-scope="data">
                <v-chip color="primary" text-color="white">
                  <v-avatar
                    class="text-uppercase primary darken-1 font-weight-bold"
                    >{{ data.item.last_name[0] }}</v-avatar
                  >
                  <span>{{ data.item.full_name }}</span>
                </v-chip>
              </template>
            </v-autocomplete>
          </div>
        </v-form>
        <Validator
          :value="form.value"
          :rules="form.rules"
          ref="validator"
        ></Validator>
      </v-card-text>
      <v-card-actions>
        <v-btn flat @click="clear()"> {{ $t("clear") }} </v-btn>
        <v-spacer></v-spacer>
        <v-btn flat @click="close()"> {{ $t("close") }} </v-btn>
        <v-btn
          flat
          color="primary"
          form="form"
          type="submit"
          :loading="loading"
        >
          {{ $t("submit") }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Validator from "@/components/Validator";
import { FormModalMixin } from "@/utils/mixins";
import ValidationRule from "@/utils/validation-rule";

export default {
  name: "SendInvitationsModal",
  mixins: [FormModalMixin],
  components: {
    Validator
  },
  props: {
    value: {
      type: Boolean,
      value: true
    }
  },
  computed: {
    candidates() {
      return this.$store.state.candidates;
    },
    interviews() {
      return this.$store.state.interviews;
    },
    userFullName() {
      const attributes = this.$store.state.user.attributes;

      return `${attributes.given_name}, ${attributes.family_name}`;
    },
    organization() {
      const attributes = this.$store.state.user.attributes;

      return attributes["name"];
    }
  },
  methods: {
    initData() {
      return {
        loading: false,
        form: {
          value: {
            interview: null,
            candidates: []
          },
          rules: {
            interview: new ValidationRule("interview").required(),
            candidates: new ValidationRule("candidates").required().minLength(1)
          }
        }
      };
    },
    async submit() {
      if (!this.$refs.validator.validate()) return;
      this.loading = true;
      try {
        const { candidates, interview } = this.form.value;

        const { new_sessions } = await this.$store.dispatch("sendInvitations", {
          interview: interview.name,
          candidates: candidates.map(c => c.name)
        });

        this.loading = false;
        this.close();
        this.$emit("submitted");

        const promises = [];

        for (let i = 0; i < new_sessions.length; i++) {
          const sessionName = new_sessions[i].name;
          const candidate = candidates[i];

          const subject = this.$t("invitationEmailSubject", {
            organization: this.organization,
            position: interview.position
          });

          const body = this.$t("invitationEmailBody", {
            name: candidate.full_name,
            position: interview.position,
            organization: this.organization,
            sessions_expire_in_x_days: interview.sessions_expire_in_x_days
          });

          const message = this.$t("invitationSms", {
            organization: this.organization,
            email: candidate.email_address
          });

          const link = {
            url:
              window.location.origin +
              `/${this.$i18n.locale}/candidate/session/${sessionName}`,
            message: "Get Started"
          };

          if (candidate.email_address) {
            const promise = this.$rest
              .sendEmail({
                email: candidate.email_address,
                subject: subject,
                message: body,
                link: link
              })
              .catch(err => console.error(err));

            promises.push(promise);
          }

          if (candidate.phone_number) {
            const promise = this.$rest
              .sendSms({
                phone_number: candidate.phone_number,
                message: message
              })
              .catch(err => console.error(err));
            promises.push(promise);
          }
        }

        Promise.all(promises).then(() => {
          this.$toast.success("Interview invites were sent!");
        });
      } catch (e) {
        this.loading = false;
        console.error(e);
      }
    }
  },
  data() {
    return this.initData();
  }
};
</script>

<style scoped lang="scss"></style>
