<template>
  <div>
    <v-dialog
      v-model="value"
      height="600px"
      persistent
      lazy
      @keydown.esc="close()"
    >
      <v-card class="grey lighten-3">
        <v-toolbar card class="transparent">
          <v-toolbar-title>
            {{ $t(name ? "editInterview" : "addInterview") }}
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn flat @click="clear()"><v-icon>cached</v-icon></v-btn>
          <v-btn icon @click="close()"><v-icon>close</v-icon></v-btn>
        </v-toolbar>
        <v-card-text>
          <v-form id="form" ref="form" @submit.prevent="submit()">
            <v-stepper v-model="e6" vertical class="transparent elevation-0">
              <v-stepper-step :complete="e6 > 1" editable step="1">
                Input position, expires days, and followers
              </v-stepper-step>

              <v-stepper-content step="1">
                <v-layout row wrap>
                  <v-flex xs6>
                    <div class="form-block">
                      <label
                        for="interview-input"
                        class="subheading d-block mb-2"
                      >
                        {{ $t("position") }}
                      </label>
                      <v-text-field
                        id="interview-input"
                        placeholder="Data Scientist"
                        class="mr-4"
                        v-model="form.value.position"
                        solo
                      ></v-text-field>
                    </div>
                  </v-flex>
                  <v-flex xs3>
                    <div class="form-block">
                      <label
                        for="expire-days-input"
                        class="subheading d-block mb-2"
                      >
                        Number of Session Available Days
                      </label>
                      <v-text-field
                        id="expire-days-input"
                        placeholder="5"
                        v-model.number="form.value.sessions_expire_in_x_days"
                        type="number"
                        min="1"
                        max="10"
                        step="1"
                        solo
                      ></v-text-field>
                    </div>
                  </v-flex>
                  <v-flex xs9>
                    <div class="form-block">
                      <label
                        for="followers-input"
                        class="subheading d-block mb-2"
                      >
                        {{ $t("followers") }}
                      </label>
                      <v-autocomplete
                        id="follower-input"
                        :items="followers"
                        v-model="form.value.followers"
                        item-text="full_name"
                        return-object
                        solo
                        multiple
                        placehoder="Select followers"
                      >
                        <template slot="selection" slot-scope="data">
                          <v-chip color="primary" text-color="white">
                            g
                            <v-avatar
                              class="text-uppercase primary darken-1 font-weight-bold"
                              >{{ data.item.family_name[0] }}</v-avatar
                            >
                            <span>{{ data.item.full_name }}</span>
                          </v-chip>
                        </template>
                      </v-autocomplete>
                    </div>
                  </v-flex>
                </v-layout>
                <v-btn flat color="primary" @click="e6 = 2">CONTINUE</v-btn>
              </v-stepper-content>

              <v-stepper-step :complete="e6 > 2" editable step="2"
                >Select questions
              </v-stepper-step>

              <v-stepper-content step="2">
                <v-list two-line class="preview-wrapper">
                  <v-list-tile
                    v-for="question in questions"
                    :key="question.name"
                  >
                    <v-list-tile-action>
                      <v-checkbox
                        v-model="form.value.questionTitles"
                        @change="onChangeQuestionTitles"
                        :value="question.title"
                      ></v-checkbox>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>
                        {{ question.title }}
                      </v-list-tile-title>
                      <v-list-tile-sub-title>
                        <v-chip label color="green" outline>
                          <v-avatar>
                            <v-icon color="green">
                              {{ question.type | questionTypeToIcon }}
                            </v-icon>
                          </v-avatar>
                          <strong>
                            {{ question.type | questionTypeToText }}
                          </strong>
                        </v-chip>
                        <v-chip label color="orange" outline>
                          <v-avatar>
                            <v-icon color="orange">timer</v-icon>
                          </v-avatar>
                          <strong>
                            {{ question.time_limit | secondsToFriendlyTime }}
                          </strong>
                        </v-chip>
                        <v-btn
                          icon
                          @click="
                            $refs.previewModal.question = question;
                            previewModal = true;
                          "
                          ><v-icon>visibility</v-icon></v-btn
                        >
                      </v-list-tile-sub-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </v-list>
                <v-btn flat color="primary" @click="e6 = 1">BACK</v-btn>
                <v-btn flat color="primary" @click="e6 = 3">CONTINUE</v-btn>
              </v-stepper-content>

              <v-stepper-step :complete="e6 > 3" editable step="3"
                >Sort questions
              </v-stepper-step>

              <v-stepper-content step="3">
                <v-card flat>
                  <draggable
                    :list="form.value.questions"
                    :options="{ group: 'questions' }"
                    class="preview-wrapper selected"
                  >
                    <v-card
                      v-for="question in form.value.questions"
                      :key="question.name"
                      class="mx-2 my-3 elevation-4"
                    >
                      <v-toolbar card class="py-2">
                        <v-toolbar-title class="body-2">
                          {{ question.title }}
                        </v-toolbar-title>
                        <div class="chips ml-4">
                          <v-chip label color="green" outline>
                            <v-avatar>
                              <v-icon color="green">
                                {{ question.type | questionTypeToIcon }}
                              </v-icon>
                            </v-avatar>
                            <strong>
                              {{ question.type | questionTypeToText }}
                            </strong>
                          </v-chip>
                          <v-chip label color="orange" outline>
                            <v-avatar>
                              <v-icon color="orange">timer</v-icon>
                            </v-avatar>
                            <strong>
                              {{ question.time_limit | secondsToFriendlyTime }}
                            </strong>
                          </v-chip>
                        </div>
                        <v-spacer></v-spacer>
                        <v-btn
                          icon
                          @click="
                            $refs.previewModal.question = question;
                            previewModal = true;
                          "
                          ><v-icon>visibility</v-icon></v-btn
                        >
                      </v-toolbar>
                    </v-card>
                  </draggable>
                </v-card>
                <v-btn flat color="primary" @click="e6 = 2">BACK</v-btn>
              </v-stepper-content>
            </v-stepper>

            <v-card-actions>
              <v-btn flat @click="clear()"> {{ $t("clear") }} </v-btn>
              <v-spacer></v-spacer>
              <v-btn flat @click="close()"> {{ $t("close") }} </v-btn>
              <v-btn
                flat
                color="primary"
                form="form"
                type="submit"
                :loading="loading"
              >
                {{ $t("submit") }}
              </v-btn>
            </v-card-actions>
          </v-form>
          <Validator
            :value="form.value"
            :rules="form.rules"
            ref="validator"
          ></Validator>
        </v-card-text>
        <v-card-actions> </v-card-actions>
      </v-card>
    </v-dialog>
    <PreviewQuestionModal
      ref="previewModal"
      v-model="previewModal"
    ></PreviewQuestionModal>
  </div>
</template>

<script>
import Validator from "@/components/Validator";
import draggable from "vuedraggable";
import PreviewQuestionModal from "@/components/modal/PreviewQuestionModal";
import { FormModalMixin } from "@/utils/mixins";
import ValidationRule from "@/utils/validation-rule";

export default {
  name: "StepperInterviewModal",
  mixins: [FormModalMixin],
  props: {
    questions: {
      type: Array,
      default: () => [],
      required: true
    }
  },
  components: {
    PreviewQuestionModal,
    Validator,
    draggable
  },
  computed: {
    followers() {
      return this.$store.state.recruiters;
    }
  },
  filters: {},
  methods: {
    initData() {
      return {
        selected_check: [],
        e6: 1,
        loading: false,
        previewModal: false,
        name: null,
        copiedQuestions: this.questions.slice(),
        form: {
          valid: true,
          value: {
            position: "",
            sessions_expire_in_x_days: 5,
            questions: [],
            questionTitles: [],
            followers: []
          },
          rules: {
            position: new ValidationRule("position").required(),
            sessions_expire_in_x_days: new ValidationRule(
              "sessions_expire_in_x_days"
            ).required(),
            questions: new ValidationRule("questions").required().minLength(1)
          }
        }
      };
    },
    async submit() {
      if (!this.validate()) return;
      this.loading = true;
      try {
        if (this.name) {
          await this.$store.dispatch("editInterview", {
            ...this.form.value,
            name: this.name,
            questions: this.form.value.questions.map(q => q.name),
            followers: this.form.value.followers.map(f => f.username)
          });
        } else {
          await this.$store.dispatch("addInterview", {
            ...this.form.value,
            questions: this.form.value.questions.map(q => q.name),
            followers: this.form.value.followers.map(f => f.username)
          });
        }

        this.loading = false;
        this.close();
      } catch (e) {
        this.loading = false;
      }
    },
    onChangeQuestionTitles() {
      this.form.value.questions = this.questions.filter(q =>
        this.form.value.questionTitles.includes(q.title)
      );
    },
    setValue({ questions, name, ...value }) {
      this.name = name;

      for (const key of Object.keys(this.form.value)) {
        if (value[key] === null || value[key] === undefined) continue;
        this.form.value[key] = value[key];
      }

      for (const q of questions || []) {
        const index = this.copiedQuestions.findIndex(cq => cq.name === q.name);
        if (index > -1)
          this.form.value.questions.push(
            this.copiedQuestions.splice(index, 1)[0]
          );
      }
    }
  },
  data() {
    return this.initData();
  }
};
</script>

<style scoped lang="scss">
.preview-wrapper {
  overflow-y: auto;
  padding-bottom: 32px;
  height: 450px;
  border: #8f8f8f 1px solid;

  &.selected {
    background: rgba(black, 0.04);
  }
}
</style>
