<template>
  <v-dialog v-model="value" persistent full-width lazy @keydown.esc="close()">
    <v-card class="grey lighten-3">
      <v-toolbar card class="transparent">
        <v-toolbar-title>
          {{ $t(name ? "editQuestion" : "addQuestion") }}
        </v-toolbar-title>

        <v-spacer></v-spacer>
        <v-btn flat @click="clear()"><v-icon>cached</v-icon></v-btn>
        <v-btn icon @click="close()"><v-icon>close</v-icon></v-btn>
      </v-toolbar>
      <v-card-text>
        <v-form id="form" ref="form" @submit.prevent="submit()">
          <v-stepper v-model="e6" vertical class="transparent elevation-0">
            <v-stepper-step :complete="e6 > 1" editable step="1">
              Input question title and type and time limit
            </v-stepper-step>

            <v-stepper-content step="1">
              <v-layout row wrap>
                <v-flex xs6>
                  <div class="form-block">
                    <label for="title-input" class="subheading d-block mb-2">
                      {{ $t("title") }}
                    </label>
                    <v-text-field
                      id="title-input"
                      class="mr-4"
                      v-model="form.value.title"
                      placeholder="title"
                      solo
                    ></v-text-field>
                  </div>
                </v-flex>
                <v-flex xs3>
                  <div class="form-block">
                    <label for="type-input" class="subheading d-block mb-2">
                      {{ $t("type") }}
                    </label>
                    <v-select
                      :items="items"
                      item-text="key"
                      item-value="value"
                      id="type-input"
                      v-model="form.value.type"
                      solo
                    ></v-select>
                  </div>
                </v-flex>
                <v-flex xs9>
                  <div class="form-block">
                    <label
                      for="time_limit-input"
                      class="subheading d-block mb-2"
                    >
                      {{ $t("timeLimit") }} ({{ $t("minute") }})
                    </label>

                    <v-slider
                      v-model="form.value.time_limit"
                      min="0"
                      max="1800"
                      step="60"
                      id="time_limit-input"
                      color="success"
                      thumb-label="always"
                    >
                      <template slot="thumb-label" slot-scope="props">
                        <span>{{ props.value | secondsToMinutes }}</span>
                      </template>
                    </v-slider>
                  </div>
                </v-flex>
              </v-layout>
            </v-stepper-content>
            <v-stepper-step :complete="e6 > 2" editable step="2"
              >Question
            </v-stepper-step>
            <v-stepper-content
              v-if="
                form.value.type === 'short_essay' || form.value.type === 'video'
              "
              step="2"
            >
              <v-layout row>
                <v-flex xs6>
                  <editor
                    v-model="form.value.question"
                    previewStyle="vertical"
                    height="300px"
                    mode="wysiwyg"
                    class="elevation-2"
                    id="question-input"
                  ></editor>
                </v-flex>
                <v-flex xs6>
                  <QuestionCard
                    :question="form.value"
                    class="elevation-4 ma-3"
                  ></QuestionCard>
                </v-flex>
              </v-layout>
            </v-stepper-content>

            <v-stepper-content v-if="form.value.type === 'coding'" step="2">
              <v-layout row>
                <v-flex xs6>
                  <editor
                    v-model="form.value.question"
                    previewStyle="vertical"
                    height="150px"
                    mode="wysiwyg"
                    class="elevation-4 ma-3"
                    id="question-input"
                  ></editor>
                </v-flex>
                <v-flex xs6>
                  <QuestionCard
                    :question="form.value"
                    class="elevation-4 ma-3"
                  ></QuestionCard>
                </v-flex>
              </v-layout>

              <v-container class="radio-wrapper">
                <v-radio-group v-model="form.value.language" row>
                  <template v-slot:label>
                    <div>Coding Language &ensp; | &emsp;</div>
                  </template>
                  <v-radio label="Python 3" value="python"></v-radio>
                  <v-radio label="R" value="r"></v-radio>
                </v-radio-group>

                <h4>{{ $t("codingQuestionScript") }} <br /></h4>

                <v-textarea
                  v-if="form.value.language === 'python'"
                  height="200"
                  name="solution_template"
                  id="solution_template"
                  type="textarea"
                  v-model="form.value.solution_template"
                  box
                >
                </v-textarea>
                <v-textarea
                  v-if="form.value.language === 'r'"
                  height="200"
                  name="solution_template"
                  id="solution_template"
                  type="textarea"
                  v-model="r_default"
                  box
                >
                </v-textarea>

                <!--<v-radio-group v-model="unit_test" row>-->
                <!--<template v-slot:label>-->
                <!--<div>Unit test &ensp; | &emsp;</div>-->
                <!--</template>-->
                <!--<v-radio label="Yes" value="true"></v-radio>-->
                <!--<v-radio label="No" value="false"></v-radio>-->
                <!--</v-radio-group>-->
                <!--<h4>{{ $t("ifUnitTest") }}<br /></h4>-->
                <!--<div v-if="unit_test === 'true'">-->
                <!--<v-textarea-->
                <!--v-if="form.value.language === 'python'"-->
                <!--name="unittest"-->
                <!--height="300"-->
                <!--id="unittest"-->
                <!--type="textarea"-->
                <!--v-model="form.value.unittest"-->
                <!--box-->
                <!--&gt;-->
                <!--</v-textarea>-->

                <!--<v-textarea-->
                <!--v-if="form.value.language === 'r'"-->
                <!--name="unittest"-->
                <!--height="300"-->
                <!--id="unittest"-->
                <!--type="textarea"-->
                <!--v-model="r_unittest"-->
                <!--box-->
                <!--&gt;-->
                <!--</v-textarea>-->
                <!--</div>-->
              </v-container>
            </v-stepper-content>
          </v-stepper>
        </v-form>
        <Validator
          :value="form.value"
          :rules="form.rules"
          ref="validator"
        ></Validator>
      </v-card-text>
      <v-card-actions>
        <v-btn flat @click="clear()"> {{ $t("clear") }} </v-btn>
        <v-spacer></v-spacer>
        <v-btn flat @click="close()"> {{ $t("close") }} </v-btn>
        <v-btn
          flat
          color="primary"
          form="form"
          type="submit"
          :loading="loading"
        >
          {{ $t("submit") }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import QuestionCard from "@/components/QuestionCard";
import Validator from "@/components/Validator";
import { FormModalMixin } from "@/utils/mixins";
import ValidationRule from "@/utils/validation-rule";
import { Editor } from "@toast-ui/vue-editor";

export default {
  name: "StepperQuestionModal",
  mixins: [FormModalMixin],
  components: {
    Validator,
    QuestionCard,
    editor: Editor
  },
  props: {
    value: {
      type: Boolean,
      value: true
    }
  },
  methods: {
    initData() {
      return {
        e6: 1,
        loading: false,
        previewModal: false,
        name: null,
        unit_test: "false",
        r_default:
          "main <- function(x) {\n" +
          "    y = x * 3 + 2\n" +
          "    return(y)\n" +
          "}",
        python_default:
          "def main(x):\n" + "    y = x * 3 + 2\n" + "    return y",
        r_unittest:
          "library(unittest)  # For more information about this unittest package, please refer https://www.r-project.org/nosvn/pandoc/unittest.html\n" +
          "source('answer.R')  # Your candidate's answer will be saved as one file named answer.R\n\n" +
          'ok(main(0) == 2, "zero")\n' +
          'ok(main(3) == 11, "three")\n',
        form: {
          value: {
            title: "",
            question: "",
            type: "coding",
            time_limit: 900,
            language: "python",
            solution_template:
              "def main(x):\n" + "    y = x * 3 + 2\n" + "    return y",
            unittest:
              "import unittest  # For more information about this unittest library, please refer https://docs.python.org/3.7/library/unittest.html\n" +
              "import answer  # Your candidate's answer will be saved in one file named answer.py\n" +
              "\n" +
              "\n" +
              "class TestAnswer(unittest.TestCase):\n" +
              "    def test_0(self):\n" +
              "        self.assertEqual(answer.main(0), 2)\n" +
              "\n" +
              "    def test_3(self):\n" +
              "        self.assertEqual(answer.main(3), 11)"
          },
          rules: {
            title: new ValidationRule("title").required(),
            question: new ValidationRule("question").required(),
            type: new ValidationRule("type").required(),
            time_limit: new ValidationRule("timeLimit").required()
          }
        },
        items: [
          {
            key: "Coding",
            value: "coding"
          },
          {
            key: "Video",
            value: "video"
          },
          {
            key: "Essay",
            value: "short_essay"
          }
        ]
      };
    },
    async submit() {
      if (!this.$refs.validator.validate()) return;
      if (this.form.value.language === "r") {
        this.form.value.solution_template = this.r_default;
        this.form.value.unittest = this.r_unittest;
      }
      if (!this.unit_test) this.form.value.unittest = null;
      this.loading = true;
      try {
        if (this.name) {
          await this.$store.dispatch("editQuestion", {
            name: this.name,
            ...this.form.value
          });
        } else {
          await this.$store.dispatch("addQuestion", this.form.value);
        }
        this.loading = false;
        this.$emit("update");
        this.close();
      } catch (e) {
        this.loading = false;
      }
    }
  },
  data() {
    return this.initData();
  }
};
</script>

<style scoped lang="scss">
.preview-wrapper {
  overflow-y: auto;
  padding-bottom: 32px;
  height: 450px;
  border: #8f8f8f 1px solid;

  &.selected {
    background: rgba(black, 0.04);
  }
}
.radio-wrapper {
  margin: 0px 0px -10px -10px;
}
</style>
