<template>
  <v-container align-center justify-center fill-height>
    <CodeIDE v-model="code"></CodeIDE>
  </v-container>
</template>

<script>
import Recorder from "@/components/Recorder";
import CodeIDE from "@/components/CodeIDE";
export default {
  name: "RecruiterTest",
  components: { CodeIDE, Recorder },
  data() {
    return {
      code: "",
      availableLanguages: ["python", "r"],
      result: null
    };
  },
  methods: {},
  async mounted() {}
};
</script>

<style scoped></style>
