<template>
  <v-container align-center justify-center fill-height>
    <v-card class="elevation-8 mb-4" v-if="!name">
      <v-toolbar card>
        <v-toolbar-title class="font-weight-regular">
          {{ $t("sessions") }}
        </v-toolbar-title>
      </v-toolbar>
      <v-card-text class="pa-0">
        <v-layout row wrap class="grey lighten-4">
          <v-flex xs12 sm6 class="pa-2">
            <v-select
              label="Candidate"
              v-model="selectedFullName"
              :items="candidates"
              item-value="full_name"
              item-text="full_name"
              outline
              append-icon="people"
              clearable
            ></v-select>
          </v-flex>
          <v-flex xs12 sm6 class="pa-2">
            <v-select
              label="Interview"
              v-model="selectedPosition"
              :items="interviews"
              item-value="position"
              item-text="position"
              outline
              append-icon="event"
              clearable
            ></v-select>
          </v-flex>
        </v-layout>
        <v-divider></v-divider>
        <SessionTable
          :sessions="filteredSessions"
          :loading="loading"
          @clickRow="clickSession"
        >
        </SessionTable>
      </v-card-text>
    </v-card>
    <v-layout row wrap v-else-if="session" class="mb-5">
      <v-flex xs12 sm12 md8 v-if="session.evaluations.length > 0">
        <v-card class="elevation-8 mr-3 chart-card">
          <v-toolbar card>
            <v-toolbar-title>
              Rating Distribution
            </v-toolbar-title>
          </v-toolbar>
          <v-divider></v-divider>
          <v-card-text>
            <RatingDistributionChart
              :session="session"
            ></RatingDistributionChart>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 sm12 md4 v-if="session.evaluations.length > 0">
        <v-card class="elevation-8 chart-card">
          <v-toolbar card>
            <v-toolbar-title>
              Recommendation Chart
            </v-toolbar-title>
          </v-toolbar>
          <v-divider></v-divider>
          <v-card-text>
            <RecommendSummaryChart :session="session"></RecommendSummaryChart>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12>
        <v-card class="elevation-8 mb-3">
          <v-alert
            :type="session.status === 'completed' ? 'success' : 'error'"
            value="true"
            class="ma-0 body-2"
          >
            {{ $t("statusText." + session.status) }}
          </v-alert>
          <v-toolbar card>
            <v-toolbar-title>
              {{ session.candidate_full_name }}
              <small class="grey--text text--darken-2"
                >({{ session.interview_position }})</small
              >
            </v-toolbar-title>
            <v-spacer></v-spacer>
            {{ $t("average") }}
            ({{ session.average == null ? 0 : session.average }})
            <v-rating
              class="ml-3"
              :value="session.average"
              half-increments
              readonly
            ></v-rating>
          </v-toolbar>
          <v-divider></v-divider>
          <SessionDetail :session="session"></SessionDetail>
        </v-card>
      </v-flex>
      <v-flex xs12>
        <v-card class="elevation-8">
          <v-card-title primary-title>
            <v-layout row wrap>
              <div class="mr-2">
                <v-icon medium>how_to_vote</v-icon>
              </div>
              <div>
                <h3 class="headline mb-0">
                  <i>{{ $t("representativeOfCompany") }}</i>
                </h3>
              </div>
            </v-layout>
          </v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs6>
                <div class="text-xs-center">
                  <v-btn
                    color="primary"
                    large
                    @click="decidePassFail(true)"
                    :loading="decision_loading"
                  >
                    {{ $t("passThisCandidate") }}
                  </v-btn>
                </div>
              </v-flex>
              <v-flex xs6>
                <div class="text-xs-center">
                  <v-btn
                    color="error"
                    large
                    @click="decidePassFail(false)"
                    :loading="decision_loading"
                  >
                    {{ $t("failThisCandidate") }}
                  </v-btn>
                </div>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-progress-circular
      v-else
      :size="70"
      :width="7"
      indeterminate
      color="primary"
    ></v-progress-circular>
  </v-container>
</template>

<script>
import SessionTable from "@/components/table/SessionTable";
import RatingDistributionChart from "@/components/chart/RatingDistributionChart";
import RecommendSummaryChart from "@/components/chart/RecommendSummaryChart";
import SessionDetail from "@/components/detail/SessionDetail";

export default {
  name: "RecruiterSession",
  components: {
    SessionDetail,
    RecommendSummaryChart,
    RatingDistributionChart,
    SessionTable
  },
  data() {
    return {
      selectedPosition: null,
      selectedFullName: null,
      loading: false,
      decision_loading: false
    };
  },
  computed: {
    sessions() {
      return this.$store.state.sessions;
    },
    filteredSessions() {
      return this.sessions
        .filter(session =>
          this.selectedFullName
            ? session.candidate_full_name === this.selectedFullName
            : true
        )
        .filter(session =>
          this.selectedPosition
            ? session.interview_position === this.selectedPosition
            : true
        );
    },
    interviews() {
      return this.$store.state.interviews.filter(
        item => item.number_of_sessions > 0
      );
    },
    candidates() {
      return this.$store.state.candidates.filter(
        item => item.number_of_sessions > 0
      );
    },
    name() {
      return this.$route.params.name;
    },
    session() {
      return this.$store.state.session;
    }
  },
  watch: {
    name(value) {
      if (value) {
        this.$store.dispatch("getSession", value);
      } else {
        this.$store.commit("GET_SESSION", null);
      }
    }
  },
  methods: {
    clickSession({ name }) {
      this.$router.push(`/${this.$i18n.locale}/recruiter/session/${name}`);
    },
    async initialize() {
      this.loading = true;

      if (this.interviews.length === 0) this.$store.dispatch("getInterviews");
      if (this.candidates.length === 0) this.$store.dispatch("getCandidates");

      await this.$store.dispatch("getSessions");
      if (this.name) await this.$store.dispatch("getSession", this.name);

      this.loading = false;
    },
    async decidePassFail(decision) {
      try {
        this.decision_loading = true;
        await this.$store.dispatch("decideSession", {
          name: this.name,
          decision: decision
        });

        this.$toast.info(this.$t("decisionMade"));
      } catch (e) {
        console.error(e);
      } finally {
        this.decision_loading = false;
      }
    }
  },
  async mounted() {
    this.initialize();
  }
};
</script>

<style scoped lang="scss">
.chart-card {
  height: 550px;
  margin-bottom: 20px;
}
</style>
