<template>
  <v-container align-center justify-center fill-height>
    <v-card class="elevation-8" v-if="!name">
      <v-toolbar card>
        <v-toolbar-title class="font-weight-regular">
          {{ $t("interviews") }}
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn icon @click="interviewModal = true" :disabled="loading">
            <v-tooltip top v-if="questions.length > 0">
              <v-icon class="grey--text" slot="activator">add</v-icon>
              <span> {{ $t("addInterview") }}</span>
            </v-tooltip>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-divider></v-divider>
      <v-card-text class="pa-0">
        <InterviewTable
          :interviews="interviews"
          :loading="loading"
          @viewDetail="selectInterview"
          @sendInvitations="sendInvitations"
          @deleteInterview="deleteInterview"
          @editInterview="editInterview"
        >
        </InterviewTable>
      </v-card-text>
    </v-card>

    <v-card class="elevation-8" v-else-if="interview">
      <v-toolbar card>
        <v-toolbar-title class="font-weight-regular">
          {{ interview.position }}
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn icon @click="sendInvitations()">
            <v-tooltip top>
              <v-icon class="grey--text" slot="activator">mail_outline</v-icon>
              <span> {{ $t("sendInvitations") }}</span>
            </v-tooltip>
          </v-btn>
          <v-btn icon @click="editInterview()">
            <v-tooltip top>
              <v-icon class="grey--text" slot="activator">edit</v-icon>
              <span> {{ $t("editInterview") }}</span>
            </v-tooltip>
          </v-btn>
          <v-btn icon @click="deleteInterview()">
            <v-tooltip top>
              <v-icon class="grey--text" slot="activator">delete</v-icon>
              <span> {{ $t("deleteInterview") }}</span>
            </v-tooltip>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-divider></v-divider>
      <v-card-text>
        <v-subheader class="pl-0">
          {{ $t("duration") }}
        </v-subheader>
        <p>
          {{ interview.duration | secondsToFriendlyTime }}
        </p>

        <v-subheader class="pl-0">
          {{ $t("numberOfQuestions") }}
        </v-subheader>
        <p>
          {{ interview.number_of_questions }}
        </p>

        <v-subheader class="pl-0">
          {{ $t("createdAt") }}
        </v-subheader>
        <p>
          {{ interview.created_at | sliceToISOYYYMMDD }}
        </p>

        <v-subheader class="pl-0">
          {{ $t("questions") }}
        </v-subheader>
        <QuestionTable
          :questions="interview.questions || []"
          hide-actions
          disable-initial-sort
          class="border-thin"
        ></QuestionTable>
        <v-subheader class="pl-0">
          {{ $t("sessions") }}
        </v-subheader>
        <SubSessionTable
          :sessions="interview.sessions || []"
          class="border-thin"
        ></SubSessionTable>
      </v-card-text>
    </v-card>

    <v-progress-circular
      v-else
      :size="70"
      :width="7"
      indeterminate
      color="primary"
    ></v-progress-circular>
    <StepperInterviewModal
      v-model="interviewModal"
      ref="interviewModal"
      :questions="questions"
    ></StepperInterviewModal>
    <SendInvitationsModal
      v-model="inviteModal"
      ref="invitationModal"
      @submitted="initialize()"
    ></SendInvitationsModal>
    <DeleteModal
      v-model="deleteModal"
      action="deleteInterview"
      ref="deleteModal"
    ></DeleteModal>
  </v-container>
</template>

<script>
import InterviewTable from "@/components/table/InterviewTable";
import SubSessionTable from "@/components/table/SubSessionTable";
import SendInvitationsModal from "@/components/modal/SendInvitationsModal";
import StepperInterviewModal from "@/components/modal/StepperInterviewModal";
import DeleteModal from "@/components/modal/DeleteModal";
import QuestionTable from "@/components/table/QuestionTable";

export default {
  name: "RecruiterInterview",
  components: {
    QuestionTable,
    DeleteModal,
    SendInvitationsModal,
    StepperInterviewModal,
    InterviewTable,
    SubSessionTable
  },
  methods: {
    selectInterview(interview) {
      this.$router.push(
        `/${this.$i18n.locale}/recruiter/interview/${interview.name}`
      );
    },
    editInterview(selectedInterview) {
      const interview = selectedInterview || this.interview;
      this.interviewModal = true;
      this.$refs.interviewModal.setValue(interview);
    },
    sendInvitations(selectedInterview) {
      this.inviteModal = true;
      this.$refs.invitationModal.setValue({
        interview: selectedInterview || this.interview
      });
    },
    deleteInterview(selectedInterview) {
      this.deleteModal = true;
      this.$refs.deleteModal.setName(
        (selectedInterview || this.interview).name
      );
    },
    async initialize() {
      if (this.questions === undefined || this.questions.length === 0) {
        this.$store.dispatch("getQuestions");
      }

      if (this.candidates === undefined || this.candidates.length === 0) {
        this.$store.dispatch("getCandidates");
      }

      if (this.recruiters === undefined || this.recruiters.length === 0) {
        this.$store.dispatch("getRecruiters");
      }

      this.loading = true;

      await (this.name
        ? Promise.all([
            this.$store.dispatch("getInterviews"),
            this.$store.dispatch("getInterview", this.name)
          ])
        : this.$store.dispatch("getInterviews"));

      this.loading = false;
    }
  },
  data() {
    return {
      interviewModal: false,
      inviteModal: false,
      deleteModal: false,
      loading: true,
      selectedInterview: null
    };
  },
  computed: {
    questions() {
      // console.log(this.$store.state.questions);
      return this.$store.state.questions;
    },
    interviews() {
      return this.$store.state.interviews;
    },
    candidates() {
      return this.$store.state.candidates;
    },
    recruiters() {
      return this.$store.state.recruiters;
    },
    name() {
      return this.$route.params.name;
    },
    interview() {
      return this.$store.state.interview;
    }
  },
  watch: {
    name(value) {
      if (value) {
        this.$store.dispatch("getInterview", value);
      } else {
        this.$store.commit("GET_INTERVIEW", null);
      }
    }
  },
  mounted() {
    this.initialize();
  }
};
</script>

<style scoped lang="scss"></style>
