<template>
  <codemirror
    ref="myCm"
    :value="value"
    :options="cmOptions"
    @ready="onCmReady"
    @focus="onCmFocus"
    @input="onCmCodeChange"
  >
  </codemirror>
</template>

<script>
import { codemirror } from "vue-codemirror";

const getOptions = () => ({
  tabSize: 4,
  mode: "javascript",
  theme: "darcula",
  lineNumbers: true,
  line: true,
  fixedGutter: false
});

export default {
  name: "CodeEditor",
  components: {
    codemirror
  },
  props: {
    value: {
      type: String,
      default: "Input here"
    },
    options: {
      type: Object,
      default: getOptions
    },
    responsive: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    onCmReady(cm) {
      this.$emit("ready", cm);
    },
    onCmFocus(cm) {
      this.$emit("focus", cm);
    },
    onCmCodeChange(newCode) {
      this.$emit("input", newCode);
    }
  },
  computed: {
    codemirror() {
      return this.$refs.myCm.codemirror;
    },
    cmOptions() {
      return Object.assign(getOptions(), this.options);
    }
  },
  mounted() {
    if (this.responsive) this.codemirror.setSize("100%", "100%");
  }
};
</script>

<style lang="scss"></style>
