<template>
  <v-card dark min-width="650" class="CodeIDE">
    <v-toolbar dense v-if="!onlyEditor">
      <v-toolbar-title class="font-weight-regular">
        Your Solution
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-tooltip top>
          <v-btn icon slot="activator" :loading="loading" @click="run()">
            <v-icon>play_arrow</v-icon>
          </v-btn>
          <span>Run</span>
        </v-tooltip>
      </v-toolbar-items>
    </v-toolbar>
    <codemirror
      ref="codemirrorRef"
      class="codemirror"
      :value="value"
      :options="options"
      @input="onInput"
    />
    <Prism :value="result" class="terminal" v-if="!onlyEditor"></Prism>
  </v-card>
</template>

<script>
import Prism from "@/components/Prism";
import { codemirror } from "vue-codemirror";

export default {
  name: "CodeIDE",
  components: { Prism, codemirror },
  props: {
    value: {
      type: String
    },
    onlyEditor: {
      type: Boolean,
      default: false
    },
    currentAnswer: Object
  },
  computed: {
    codemirror() {
      return this.$refs.codemirrorRef.codemirror;
    },
    options() {
      return {
        tabSize: 4,
        indentUnit: 4,
        mode: this.language,
        theme: "darcula",
        lineNumbers: true,
        line: true,
        fixedGutter: false
      };
    }
  },
  data() {
    return {
      solutiontemplate: this.currentAnswer.solution_template,
      languageModal: false,
      loading: false,
      result: "This is terminal"
    };
  },
  methods: {
    async run() {
      this.loading = true;

      try {
        const {
          output: { stdout, stderr }
        } = await this.$rest.runCode({
          code: this.value,
          language: this.currentAnswer.language
        });
        this.result = stdout || stderr || "Success to execute code.";
      } catch (e) {
        this.result = "Failed to execute code.";
        console.error(e);
      } finally {
        this.loading = false;
      }
    },
    onInput(event) {
      this.$emit("input", event);
    }
  },
  mounted() {
    if (this.currentAnswer.type === "coding")
      this.$refs.codemirrorRef.codemirror.setValue(
        this.currentAnswer.solution_template
      );
  }
};
</script>

<style lang="scss">
.CodeIDE {
  display: flex;
  flex-direction: column;
  .codemirror {
    flex: 1 1 auto;
    align-self: stretch;
    height: 600px;
    resize: horizontal;
    .CodeMirror {
      width: 100%;
      height: 100%;
    }
  }
  .terminal {
    height: 200px;
    overflow: auto;
  }
}
</style>
