<template>
  <video-player
    ref="videoPlayer"
    :playsinline="true"
    :options="options"
    @play="onPlayerPlay($event)"
    @pause="onPlayerPause($event)"
    @statechanged="playerStateChanged($event)"
    @ready="playerReadied($event)"
  ></video-player>
</template>

<script>
import "video.js/dist/video";
import "video.js/dist/video-js.css";
import { videoPlayer } from "vue-video-player";
export default {
  name: "Player",
  components: {
    "video-player": videoPlayer
  },
  props: {
    src: {
      type: String
    }
  },
  computed: {
    options() {
      return {
        sources: [
          {
            type: "video/webm",
            src: this.src
          }
        ],
        controls: true,
        preload: "auto",
        height: 550
      };
    },
    player() {
      return this.$refs.videoPlayer.player;
    }
  },
  mounted() {
    console.log("this is current player instance object", this.player);
  },
  methods: {
    // listen event
    onPlayerPlay(player) {
      // console.log('player play!', player)
    },
    onPlayerPause(player) {
      // console.log('player pause!', player)
    },
    // ...player event

    // or listen state event
    playerStateChanged(playerCurrentState) {
      // console.log('player current update state', playerCurrentState)
    },

    // player is ready
    playerReadied(player) {
      console.log("the player is readied", player);
      // you can use it to do something...
      // player.[methods]
    }
  }
};
</script>

<style scoped></style>
