<template>
  <pre :class="'language-' + language + ' ma-0'" v-html="preview"></pre>
</template>

<script>
export default {
  name: "Prism",
  props: {
    value: {
      default: ""
    },
    language: {
      type: String,
      default: "python"
    }
  },
  computed: {
    preview() {
      if (!this.value) return "";

      let highlighted = "";
      try {
        highlighted = window.Prism.highlight(
          typeof this.value === "string"
            ? this.value
            : JSON.stringify(this.value, undefined, 4),
          window.Prism.languages[this.language] || "markup",
          this.language || "markup"
        );
      } catch (e) {
        highlighted = this.code;
      }

      return highlighted;
    }
  }
};
</script>

<style scoped lang="scss"></style>
