<template>
  <v-card dark class="question-card">
    <v-toolbar card>
      <v-toolbar-title>
        {{ question.title }}
      </v-toolbar-title>
      <div class="chips ml-4">
        <v-chip label color="green" outline>
          <v-avatar>
            <v-icon color="green">
              {{ question.type | questionTypeToIcon }}
            </v-icon>
          </v-avatar>
          <strong>
            {{ question.type | questionTypeToText }}
          </strong>
        </v-chip>
        <v-chip label color="orange" outline>
          <v-avatar>
            <v-icon color="orange">timer</v-icon>
          </v-avatar>
          <strong>
            {{ question.time_limit | secondsToFriendlyTime }}
          </strong>
        </v-chip>
      </div>
    </v-toolbar>
    <v-card-text class="markdown-scroller">
      <Markdown :value="question.question"></Markdown>
    </v-card-text>
  </v-card>
</template>

<script>
import Markdown from "@/components/Markdown";

export default {
  name: "QuestionCard",
  components: {
    Markdown
  },
  props: {
    question: Object
  },
  computed: {},
  methods: {},
  filters: {}
};
</script>

<style scoped lang="scss">
.question-card {
  height: auto;
  overflow: auto;
}
.markdown-scroller {
  padding: 16px;
  overflow: auto;
  &.fullscreen {
    height: initial;
  }
}
</style>
