<template>
  <v-card class="video-wrapper" dark color="grey darken-1">
    <v-toolbar card color="grey darken-3">
      <v-toolbar-title>
        Your Solution
      </v-toolbar-title>
    </v-toolbar>
    <video ref="video" class="video" muted :autoplay="false"></video>
    <div class="recording-text" v-if="state === 'recording'">
      <v-icon color="red" small>fiber_manual_record</v-icon> RECORDING
    </div>
    <v-divider></v-divider>
    <v-card-text class="text-xs-center">
      <v-btn v-if="!state" @click="start()" color="primary" large round>
        <v-icon left>play_arrow</v-icon>record video
      </v-btn>

      <v-btn
        v-else-if="state === 'recording'"
        @click="stop()"
        color="primary"
        large
        round
      >
        <v-icon left>stop</v-icon>submit recording
      </v-btn>
      <v-progress-circular
        indeterminate
        color="primary"
        v-else-if="state === 'stopped' && !uploaded"
      ></v-progress-circular>
      <v-alert type="success" value="true" v-else>
        Successfully uploaded.
      </v-alert>
    </v-card-text>
  </v-card>
</template>
<script>
const RecordRTC = require("recordrtc");

const options = {
  mimeType: "video/webm", // or video/webm\;codecs=h264 or video/webm\;codecs=vp9
  audioBitsPerSecond: 128000,
  videoBitsPerSecond: 1024000
};

const mediaConstraints = {
  video: {
    mandatory: {
      minHeight: 720,
      minWidth: 1280
    }
  },
  audio: true
};

export default {
  name: "Recorder",
  props: {
    fileName: {
      type: String,
      default: "Test"
    }
  },
  data() {
    return {
      stream: null,
      recorder: null,
      uploaded: false,
      is_record: false
    };
  },
  computed: {
    video() {
      return this.$refs.video;
    },
    state() {
      return this.recorder && this.recorder.state;
    }
  },
  methods: {
    // async resume() {
    //   this.recorder.resumeRecording();
    //   this.video.play()();
    // },
    // async pause() {
    //   this.recorder.pauseRecording();
    //   this.video.pause();
    // },
    async start() {
      try {
        this.stream = await window.navigator.mediaDevices.getUserMedia(
          mediaConstraints
        );
        this.setSrcObject(this.stream, this.video);
        this.recorder = RecordRTC(this.stream, options);
        this.recorder.startRecording();
        this.video.play();
        this.$emit("started");
        this.is_record = true;
      } catch (e) {
        console.error(e);
        alert(e);
      }
    },
    async stop() {
      this.close();
      try {
        await this.close();
        this.$emit("stopped");
        const res = await this.$store.dispatch("uploadVideo", {
          file: this.recorder.blob,
          fileName: `${this.fileName}.webm`
        });
        this.$emit("uploaded");
        this.uploaded = true;
        this.is_record = false;
        console.log(res);
      } catch (e) {
        console.error(e);
      }
    },
    close() {
      return new Promise((res, rej) => {
        try {
          if (this.video) this.video.pause();
          if (this.stream) this.stream.stop();
          this.recorder.stopRecording(() => {
            res();
          });
        } catch (e) {
          rej(e);
        }
      });
    },
    setSrcObject(stream, element, ignoreCreateObjectURL) {
      if ("srcObject" in element) {
        element.srcObject = stream;
      } else if ("mozSrcObject" in element) {
        element.mozSrcObject = stream;
      } else if ("createObjectURL" in URL && !ignoreCreateObjectURL) {
        try {
          element.src = URL.createObjectURL(stream);
        } catch (e) {
          this.setSrcObject(stream, element, true);
          return;
        }
      } else {
        alert("createObjectURL/srcObject both are not supported.");
      }
    }
  },
  beforeDestroy() {
    if (this.state && this.state !== "stopped") this.close();
  },
  mounted() {},
  created() {}
};
</script>

<style scoped lang="scss">
.video-wrapper {
  position: relative;
  .video {
    display: block;
    max-width: 100%;
    min-width: 858px;
    min-height: 480px;
    object-fit: cover;
    margin: 0;
    padding: 0;
  }
  .recording-text {
    display: inline-block;
    position: absolute;
    top: 82px;
    right: 30px;
    animation: blink 2s step-end infinite;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
}
</style>
