<template>
  <div>
    <v-alert
      v-for="t in texts"
      :value="true"
      dismissible
      outline
      color="error"
      icon="warning"
      :key="t"
    >
      {{ t }}
    </v-alert>
  </div>
</template>

<script>
import ValidationRule from "@/utils/validation-rule";

export default {
  name: "Validator",
  props: {
    value: {
      type: Object,
      value: {}
    },
    rules: {
      type: Object,
      value: {}
    }
  },
  data() {
    return {
      texts: []
    };
  },
  methods: {
    validate() {
      this.texts = [];

      for (const key of Object.keys(this.rules)) {
        const rule = this.rules[key];
        const value = this.value[key];

        for (const func of rule instanceof ValidationRule
          ? rule.value()
          : rule) {
          const result = func(value);
          if (result !== true) {
            this.texts.push(result);
            break;
          }
        }
      }

      return this.texts.length === 0;
    },
    initialize() {
      this.texts = [];
    }
  }
};
</script>

<style scoped lang="scss"></style>
