@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700,900|Source+Code+Pro');
//@import url('https://fonts.googleapis.com/css?family=Material+Icons');
@import "~material-design-icons-iconfont/dist/material-design-icons.css";
// @import "~@mdi/font/css/materialdesignicons.css";

$body-font-family := 'Roboto', sans-serif
$mono-font-family := 'Source Code Pro', monospace


@import '~vuetify/src/stylus/main'


code, pre
  font-family: $mono-font-family !important

code
  background-color: none;
  box-shadow: none;
