<template>
  <v-card width="450" class="auth-card" flat>
    <v-card-text>
      <div class="auth-card__header text-xs-center">
        <router-link
          :to="'/' + $i18n.locale"
          class="auth-card__header__logo"
          style="text-decoration: none;"
        >
          AI Interview
        </router-link>
        <h4 class="auth-card__header__title" v-t="'changePassword'"></h4>
      </div>
      <v-form
        id="change-form"
        v-model="changeForm.valid"
        @submit.prevent="onSubmit"
        ref="changeForm"
        lazy-validation
      >
        <v-text-field
          name="old_password"
          id="old_password"
          type="password"
          v-model="changeForm.value.old_password"
          :rules="changeForm.rules.old_password"
          :label="$t('oldPassword')"
          outline
        ></v-text-field>
        <v-text-field
          name="new_password"
          id="new_password"
          type="password"
          v-model="changeForm.value.new_password"
          :rules="changeForm.rules.new_password"
          :label="$t('newPassword')"
          outline
        ></v-text-field>
        <v-text-field
          name="retype_new_password"
          id="retype_new_password"
          type="password"
          v-model="changeForm.value.retype_new_password"
          :rules="changeForm.rules.retype_new_password"
          :label="$t('retypeNewPassword')"
          outline
        ></v-text-field>
      </v-form>
      <Validator
        :value="changeForm.value"
        :rules="changeForm.rules"
        ref="validator"
      ></Validator>
    </v-card-text>
    <v-card-actions class="justify-center">
      <v-btn
        depressed
        color="primary"
        large
        v-t="'submit'"
        type="submit"
        form="change-form"
        :loading="loading"
      ></v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import Validator from "@/components/Validator";
import ValidationRule from "@/utils/validation-rule";

export default {
  name: "Change",
  components: { Validator },
  data() {
    return {
      loading: false,
      changeForm: {
        valid: true,
        value: {
          old_password: null,
          new_password: null,
          retype_new_password: null
        },
        rules: {
          old_password: new ValidationRule("password").required(),
          new_password: new ValidationRule("password")
            .required()
            .password()
            .minLength(6),
          retype_new_password: [
            v =>
              v === this.changeForm.value.new_password || "Check your password"
          ]
        }
      }
    };
  },
  methods: {
    async onSubmit() {
      if (!this.$refs.validator.validate()) return;

      this.loading = true;
      try {
        await this.$store.dispatch("changePassword", this.changeForm.value);
        this.$router.push(`/${this.$i18n.locale}/recruiter/session`);
      } catch (e) {
        console.error(e);
      } finally {
        this.loading = false;
      }
    }
  }
};
</script>

<style scoped lang="scss">
.auth-card {
  border: #dedede solid 1px;
  border-radius: 16px;
  padding-bottom: 16px;
}
.auth-card .auth-card__header {
  letter-spacing: 0.05em;
  padding: 0 6px;
}
.auth-card .auth-card__header .auth-card__header__logo {
  font-size: 24px;
  line-height: 42px;
  font-weight: 400;
}
.auth-card .auth-card__header .auth-card__header__title {
  font-size: 28px;
  line-height: 42px;
  font-weight: 400;
  margin-bottom: 24px;
}
.auth-card .flex {
  padding: 0 6px;
}
.auth-card .v-btn {
  border-radius: 8px;
  margin: 0 8px;
  text-transform: capitalize;
}
</style>
