<template>
  <!--<v-card width="400" class="elevation-8">-->
  <!--<v-toolbar card color="white" class="">-->
  <!--<v-toolbar-title v-t="'forgot'">-->
  <!--</v-toolbar-title>-->
  <!--</v-toolbar>-->
  <!--<v-card-text>-->
  <!--<v-text-field type="text"-->
  <!--:label="$t('email')"-->
  <!--append-icon="email"-->
  <!--id="email"-->
  <!--name="email"-->
  <!--&gt;</v-text-field>-->
  <!--<v-btn color="primary" block v-t="'submit'"></v-btn>-->
  <!--<v-btn flat :to="'/'+ $i18n.locale + '/auth/sign-in'" block v-t="'signIn'"></v-btn>-->
  <!--</v-card-text>-->
  <!--</v-card>-->
  <v-card width="450" class="auth-card">
    <v-card-text>
      <div class="auth-card__header text-xs-center">
        <router-link
          :to="'/' + $i18n.locale"
          class="auth-card__header__logo"
          style="text-decoration: none;"
        >
          AI Interview
        </router-link>
        <h4 class="auth-card__header__title" v-t="'forgot'"></h4>
      </div>
      <v-form
        id="forgot-form"
        v-model="forgotForm.valid"
        @submit.prevent="onSubmit"
        ref="forgotForm"
        lazy-validation
      >
        <v-text-field
          name="email"
          id="email"
          type="text"
          v-model="forgotForm.value.email"
          :rules="forgotForm.rules.email"
          :label="$t('email')"
          outline
        ></v-text-field>
        <v-text-field
          v-if="isSubmit"
          name="code"
          id="code"
          type="text"
          v-model="forgotForm.value.code"
          :rules="forgotForm.rules.code"
          :label="$t('code')"
          outline
        ></v-text-field>
        <v-text-field
          v-if="isSubmit"
          name="new_password"
          id="new_password"
          type="password"
          v-model="forgotForm.value.new_password"
          :rules="forgotForm.rules.new_password"
          :label="$t('newPassword')"
          outline
        ></v-text-field>
        <p v-if="isSubmit" class="green--text text--darken-2">
          Check your email!
        </p>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-btn
        flat
        color="primary"
        :to="'/' + $i18n.locale + '/auth/sign-in'"
        v-t="'signIn'"
      ></v-btn>
      <v-spacer></v-spacer>
      <v-btn
        depressed
        color="primary"
        large
        v-t="'submit'"
        type="submit"
        form="forgot-form"
      ></v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: "Forgot",
  data() {
    return {
      isSubmit: false,
      forgotForm: {
        valid: true,
        value: {
          email: null
        },
        rules: {
          email: [v => (!v ? "Email is required" : true)]
        }
      }
    };
  },
  methods: {
    async onSubmit() {
      if (!this.$refs.forgotForm.validate()) return;

      try {
        if (this.isSubmit) {
          await this.$rest.forgotPasswordSubmit(this.forgotForm.value);
          this.$router.push(`/${this.$i18n.locale}/auth/sign-in`);
        } else {
          await this.$rest.forgotPassword(this.forgotForm.value);

          this.forgotForm.value.code = null;
          this.forgotForm.value.new_password = null;
          this.forgotForm.rules.code = [v => (!v ? "Code is required" : true)];
          this.forgotForm.value.new_password = [
            v => (!v ? "Password is required" : true)
          ];

          this.isSubmit = true;
        }
      } catch (e) {
        console.error(e);
      }
    }
  }
};
</script>

<style scoped lang="scss">
.auth-card {
  border-radius: 8px;
  padding-bottom: 8px;
}
.auth-card .auth-card__header {
  letter-spacing: 0.05em;
  padding: 0 6px;
}
.auth-card .auth-card__header .auth-card__header__logo {
  font-size: 24px;
  line-height: 42px;
  font-weight: 400;
}
.auth-card .auth-card__header .auth-card__header__title {
  font-size: 28px;
  line-height: 42px;
  font-weight: 400;
  margin-bottom: 24px;
}
.auth-card .flex {
  padding: 0 6px;
}
.auth-card .v-btn {
  border-radius: 8px;
  margin: 0 8px;
  text-transform: capitalize;
}
</style>
