<template>
  <v-card width="450" class="auth-card">
    <v-card-text>
      <div class="auth-card__header text-xs-center">
        <router-link
          :to="'/' + $i18n.locale"
          class="auth-card__header__logo"
          style="text-decoration: none;"
        >
          AI Interview
        </router-link>
        <h4 class="auth-card__header__title" v-t="'signIn'"></h4>
      </div>
      <v-alert
        :value="confirmEmail"
        color="success"
        icon="check_circle"
        outline
        class="mb-3"
      >
        {{ $t("confirmEmail") }}
      </v-alert>
      <v-form id="sign-in-form" @submit.prevent="signIn">
        <v-text-field
          name="email"
          id="email"
          type="text"
          v-model="signInForm.value.email"
          :label="$t('email')"
          outline
        ></v-text-field>
        <v-text-field
          name="password"
          id="password"
          type="password"
          v-model="signInForm.value.password"
          :label="$t('password')"
          outline
        ></v-text-field>
      </v-form>
      <Validator
        :value="signInForm.value"
        :rules="signInForm.rules"
        ref="validator"
      ></Validator>
    </v-card-text>
    <v-card-actions>
      <v-btn
        flat
        color="primary"
        :to="'/' + $i18n.locale + '/auth/forgot'"
        v-t="'forgot'"
      ></v-btn>
    </v-card-actions>
    <v-card-actions>
      <v-btn
        flat
        color="primary"
        :to="'/' + $i18n.locale + '/auth/sign-up'"
        v-t="'createYourAccount'"
      ></v-btn>
      <v-spacer></v-spacer>
      <v-btn
        depressed
        color="primary"
        large
        v-t="'signIn'"
        type="submit"
        form="sign-in-form"
        :loading="loading"
      ></v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import Validator from "@/components/Validator";
export default {
  name: "SignIn",
  components: { Validator },
  data() {
    return {
      loading: false,
      signInForm: {
        value: {
          email: this.$route.query.email,
          password: null
        },
        rules: {
          email: [v => (!v ? "Email is required" : true)],
          password: [v => (!v ? "Password is required" : true)]
        }
      }
    };
  },
  computed: {
    redirectTo() {
      return this.$route.query.redirectTo;
    },
    confirmEmail() {
      return this.$route.query.status === "confirmEmail";
    }
  },
  methods: {
    async signIn() {
      if (!this.$refs.validator.validate()) return;
      this.loading = true;
      try {
        const user = await this.$store.dispatch(
          "signIn",
          this.signInForm.value
        );

        if (user.attributes.email_verified) {
          this.$router.push({
            path: this.redirectTo || `/${this.$i18n.locale}/recruiter/session`
          });
        } else {
          this.$router.push({
            path: this.redirectTo || `/${this.$i18n.locale}/auth/change`
          });
        }
      } catch (e) {
        console.error(e);
      } finally {
        this.loading = false;
      }
    }
  }
};
</script>

<style scoped lang="scss">
.auth-card {
  border-radius: 8px;
  padding-bottom: 8px;
}
.auth-card .auth-card__header {
  letter-spacing: 0.05em;
  padding: 0 6px;
}
.auth-card .auth-card__header .auth-card__header__logo {
  font-size: 24px;
  line-height: 42px;
  font-weight: 400;
}
.auth-card .auth-card__header .auth-card__header__title {
  font-size: 28px;
  line-height: 42px;
  font-weight: 400;
  margin-bottom: 24px;
}
.auth-card .flex {
  padding: 0 6px;
}
.auth-card .v-btn {
  border-radius: 8px;
  margin: 0 8px;
  text-transform: capitalize;
}
</style>
