<template>
  <v-data-table
    v-if="session"
    :headers="headers"
    :items="session ? session.evaluations : []"
  >
    <template slot="items" slot-scope="props">
      <tr>
        <td class="text-xs-left">{{ props.item.username }}</td>
        <td class="text-xs-center">
          {{ props.item.recommendation ? "Recommend" : "Do not recommend" }}
        </td>
        <td class="text-xs-center">
          <strong>{{ props.item.average }}</strong>
        </td>
        <td class="pt-2">
          <div v-for="answer in props.item.answers" :key="answer.id">
            <div class="body-2">
              {{ getAnswerTitle(answer) }} &nbsp;
              <strong class="title blue--text">{{ answer.rating }}</strong>
            </div>
            <v-divider class="my-1"></v-divider>
            <p class="body-1">
              {{ answer.notes }}
            </p>
          </div>
        </td>
      </tr>
    </template>
  </v-data-table>
</template>

<script>
export default {
  name: "EvaluationTable",
  props: {
    session: Object
  },
  methods: {
    getAnswerTitle(value) {
      return this.session.answers.find(answer => answer.id === value.id).title;
    }
  },
  data: () => ({
    headers: [
      {
        text: "Username",
        value: "username",
        sortable: true,
        align: "center"
      },
      {
        text: "Recommendation",
        value: "recommendation",
        sortable: true,
        align: "center"
      },
      {
        text: "Average",
        value: "average",
        sortable: true,
        align: "center"
      },
      {
        text: "Answer Evaluations",
        value: "answers",
        sortable: false,
        align: "center"
      }
    ]
  })
};
</script>

<style scoped lang="scss"></style>
