<template>
  <v-data-table :headers="headers" :items="members" :loading="loading">
    <template slot="items" slot-scope="props">
      <td class="text-xs-left">{{ props.item.given_name }}</td>
      <td class="text-xs-center">{{ props.item.family_name }}</td>
      <td class="text-xs-center">
        {{ props.item.country_name }}
      </td>
      <td class="text-xs-center">{{ props.item.phone_number }}</td>
      <td class="text-xs-center">{{ props.item.email }}</td>
    </template>

    <template slot="no-data">
      {{ loading ? "Please wait while loading..." : "No data available..." }}
    </template>
  </v-data-table>
</template>

<script>
export default {
  name: "OrganizationTable",
  props: {
    loading: Boolean,
    members: Array
  },
  data: () => ({
    headers: [
      {
        text: "First Name",
        value: "given_name",
        sortable: true,
        align: "center"
      },
      {
        text: "Last Name",
        value: "family_name",
        sortable: true,
        align: "center"
      },
      {
        text: "Country",
        value: "locale",
        sortable: true,
        align: "center"
      },
      {
        text: "Phone Number",
        value: "phone_number",
        sortable: true,
        align: "center"
      },
      {
        text: "Email Address",
        value: "email",
        sortable: true,
        align: "center"
      }
    ]
  })
};
</script>

<style scoped></style>
