<template>
  <v-data-table
    :headers="headers"
    :items="sessions"
    :loading="loading"
    :pagination.sync="pagination"
  >
    <template slot="items" slot-scope="props">
      <tr @click="$emit('clickRow', props.item)">
        <td class="text-xs-left">{{ props.item.candidate_full_name }}</td>
        <td class="text-xs-left">{{ props.item.interview_position }}</td>
        <td class="text-xs-center">
          {{ props.item.interview_duration | secondsToFriendlyTime }}
        </td>
        <td class="text-xs-center">
          {{ props.item.interview_number_of_questions }}
        </td>
        <td class="text-xs-center">
          {{ props.item.status | sessionStatusToText }}
        </td>
        <td class="text-xs-center">
          {{ props.item.created_at | sliceToISOYYYMMDD }}
        </td>
        <td class="text-xs-center">
          {{ props.item.completed_at | sliceToISOYYYMMDD }}
        </td>
        <td class="text-xs-center">
          {{ props.item.average }}
        </td>
        <td class="text-xs-center">
          {{ props.item.recommend_ratio }}
        </td>
        <td class="text-xs-center">
          {{
            props.item.decision === null
              ? null
              : props.item.decision === true
              ? "Pass"
              : "Fail"
          }}
        </td>
      </tr>
    </template>
    <template slot="no-data">
      {{ loading ? "Please wait while loading..." : "No data available..." }}
    </template>
  </v-data-table>
</template>

<script>
export default {
  name: "SessionTable",
  props: {
    sessions: Array,
    loading: Boolean
  },
  data: () => ({
    pagination: {
      sortBy: "created_at",
      descending: true
    },
    headers: [
      {
        text: "Candidate",
        value: "candidate_full_name",
        sortable: true,
        align: "center"
      },
      {
        text: "Position",
        value: "interview_position",
        sortable: true,
        align: "center"
      },
      {
        text: "Duration",
        value: "interview_duration",
        sortable: true,
        align: "center"
      },
      {
        text: "Number Of Questions",
        value: "interview_number_of_questions",
        sortable: true,
        align: "center"
      },
      {
        text: "Status",
        value: "status",
        sortable: true,
        align: "center"
      },
      {
        text: "Created At",
        value: "created_at",
        sortable: true,
        align: "center"
      },
      {
        text: "Completed At",
        value: "completed_at",
        sortable: true,
        align: "center"
      },
      {
        text: "Average Score",
        value: "average",
        sortable: false,
        align: "center"
      },
      {
        text: "Recommend Ratio",
        value: "recommend_ratio",
        sortable: false,
        align: "center"
      },
      {
        text: "Decision",
        value: "decision",
        sortable: false,
        align: "center"
      }
    ]
  })
};
</script>

<style scoped lang="scss"></style>
