@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/darcula.css";
@import "~tui-chart/dist/tui-chart.css";

body {
  word-break: keep-all;
  overflow-wrap: break-word;
}

div.error {
  padding: 16px;
  margin-top: 8px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
}

.form-label {
  display: inline-block;
  width: 150px;
  margin-right: 200px;
}

.v-parallax__content {
  background: rgba(0, 0, 0, 0.5);
}
.ide {
  .v-treeview-node__content {
    padding: 4px 16px 4px 4px;
  }
  .v-treeview-node__label {
    font-size: 1rem;
  }
}

.border-thin {
  border: 1px solid #d6d6d6;
}

@import "~github-markdown-css/github-markdown.css";
@import "~prismjs/themes/prism-okaidia.css";


.markdown-body {
  font-size: 16px;
  padding: 0 16px 0 0;
  font-family: inherit;
  overflow-y: auto;
  color: inherit;
  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    background: none !important;
  }

  code {
    color: #1bbf83;
  }
  blockquote {
    color: inherit;
    opacity: 0.8;
  }
  table {
    tr, td {
      background: transparent !important;
    }
  }
}
.navigation-drawer__active-link {
  color: white;
  background: #42A5F5;
  border-radius: 8px;
}


@import "~tui-editor/dist/tui-editor.css";
@import "~tui-editor/dist/tui-editor-contents.css";
@import "~codemirror/lib/codemirror.css";