<template>
  <v-footer
    height="auto"
    :class="className"
    :absolute="absolute"
    :inset="inset"
    :app="app"
  >
    <v-container>
      &copy; 2019 <strong>KNOWRU LIMITED</strong>
      <br />
      <br />
      <LanguageSwitcher></LanguageSwitcher>
    </v-container>
  </v-footer>
</template>

<script>
import LanguageSwitcher from "@/components/LanguageSwitcher";
export default {
  props: {
    absolute: {
      type: Boolean,
      default: false
    },
    inset: {
      type: Boolean,
      default: false
    },
    app: {
      type: Boolean,
      default: false
    },
    className: {
      type: String,
      default: "blue-grey darken-3 white--text"
    }
  },
  name: "Footer",
  components: { LanguageSwitcher }
};
</script>

<style scoped lang="scss"></style>
