<template>
  <v-snackbar
    :timeout="timeout"
    :color="color"
    :bottom="bottom"
    :top="top"
    :left="left"
    :right="right"
    :auto-height="autoHeight"
    :multi-line="multiLine"
    :vertical="vertical"
    v-model="active"
  >
    <v-icon dark left v-if="!!icon" class="mr-2">
      {{ icon }}
    </v-icon>
    <span class="body-2">
      {{ message }}
    </span>
    <v-btn dark flat @click="close" v-if="dismissable">
      <v-icon>
        close
      </v-icon>
    </v-btn>
  </v-snackbar>
</template>

<script>
export default {
  name: "Toast",
  props: {
    top: {
      type: Boolean,
      default: false
    },
    bottom: {
      type: Boolean,
      default: false
    },
    left: {
      type: Boolean,
      default: false
    },
    right: {
      type: Boolean,
      default: false
    },
    color: {
      type: String,
      default: "info"
    },
    icon: {
      type: String
    },
    message: {
      type: String
    },
    timeout: {
      type: Number,
      default: 3000
    },
    dismissable: {
      type: Boolean,
      default: true
    },
    autoHeight: {
      type: Boolean,
      default: false
    },
    multiLine: {
      type: Boolean,
      default: false
    },
    vertical: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    active: false
  }),
  mounted() {
    this.$nextTick(() => this.show());
  },
  methods: {
    show() {
      this.active = true;
    },
    close() {
      this.active = false;
    },
    dismiss() {
      if (this.dismissable) {
        this.close();
      }
    }
  }
};
</script>
